@import "~@/assets/utils";

.side {
  background: rgba(var(--table-bg), .75);
  box-shadow: inset 0 0 0 rem(1px) rgba(var(--gray-7), 1);
  border-radius: rem(10px);
  padding: rem(30px) rem(20px);
}

.title {
  @include subInput;
  color: rgba(var(--gray-2), 1);
}

.template {
  &:first-child {
    margin-top: rem(30px);
  }
  &:not(:first-child) {
    margin-top: rem(20px);
  }
}

.label {
  @include subText;
  color: rgba(var(--table-color), 1);
}

.templates {
  margin-top: rem(16px);
}
