.months {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.month {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;

  margin: 10px 0;
  padding: 10px 4px;

  &:not(.activeMonth) {
    cursor: pointer;

    &:hover,
    &:focus {
      text-decoration: underline;
    }
  }
}

.activeMonth {
  font-weight: bold;
}
