.page {
  display: flex;
  flex-direction: column;
}

.header,
.body {
  display: grid;
  grid-template-columns: 895fr 615fr;
  grid-gap: 35px;
}

.header {
  .content {
    display: flex;
    align-items: center;
  }
}

.title {
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: #333333;
}

.menu {
  margin-left: auto;
}

.content {

}

.body,
.wideBody {
  flex-grow: 1;
  margin-top: 44px;
}
