.page {
    height: calc(100vh - 90px);

    background: top left no-repeat url(~@/assets/images/mainBackground.svg);
    background-size: cover;

    display: flex;
    flex-direction: column;
}

.tabs {
    padding: 20px 105px 0;
}

.content {
    flex-grow: 1;
    height: 0;

    margin-top: 40px;

    padding: 0 40px 36px 55px;

    display: flex;
    flex-direction: column;
}

.view {
    flex-grow: 1;
}
