.dialog {
  display: flex;
  flex-direction: column;

  position: relative;

  min-height: 400px;
}

.loader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 80px;
  width: 80px;
}

.title {
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.04em;
  color: #000000;
}

.rating {
  position: absolute;
  top: 22px;
  right: 110px;
  transform: scale(1.5);
  transform-origin: right top;
}

.tabs {
  margin-top: 37px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #CBD0E7;
  padding: 0 15px;
}

.tab {
  display: flex;
  align-items: center;

  padding-bottom: 18px;

  cursor: pointer;
  color: #828282;

  &:not(:first-child) {
    margin-left: 60px;
  }
}

.activeTab {
  color: #21317A;
  position: relative;

  &:after {
     content: '';
    position: absolute;
    bottom: -1px;
    left: 0;
    right: 0;
    display: block;
    border-radius: 3px;
    height: 3px;
    background: #5080CD;
  }

  .tabLabel {
    font-weight: bold;
  }
}

.tabLabel {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.02em;
}

.tabIcon {
  height: 20px;
  width: 20px;
  margin-left: 10px;
}

.content {
  margin-top: 25px;
}
