.dialog {
  width: 400px;
}

.title {
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.04em;
  color: #000000;
}

.form {
  margin-top: 20px;

  //max-height: 700px;
  //overflow-y: auto;
}

.field {
  &:not(:first-child) {
    margin-top: 10px;
  }
}

.primaryField {
  margin-top: 20px !important;
}

.addSubstatus {
  height: 40px;
  width: 100%;
  margin-top: 20px;
}

.submit {
  margin: 14px auto 0;
  height: 60px;
  width: 180px;
}

.hint {
  margin-top: 20px;
  font-weight: 300;
}
