VUE_APP_API_URL=http://localhost:8080/api
VUE_APP_WS_URL=ws://localhost:8080/ws
VUE_APP_TINY_API_KEY=mq1rr60ffnl7cslwz6lo4jt635t7axolbn6ycowpao8t6zhn
VUE_APP_RECAPTCHA_API_KEY=6Lf77lwcAAAAAMdS6BrWqjc1YfhmouwMGYiAl19-
VUE_APP_SENTRY_DSN=https://7e3279e9b26845428588f966587b2c48@o956708.ingest.sentry.io/5906111

VUE_APP_LOCAL_API_URL=https://api-test.urrobot.net
VUE_APP_LOCAL_WS_URL=wss://api-test.urrobot.net
