.record {
  position: relative;
  cursor: pointer;
}

.primary {
  padding: 0 10px;

  &:not(.isSelected):not(:hover) {
    .selector {
      display: none;
    }
  }

  .selector {
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;

    background: #B8D7EB;
    border-radius: 10px;
  }

  .content {
    flex-grow: 1;

    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0.04em;

    color: #333333;

    position: relative;
  }

  .select {
    margin-left: 10px;
  }

  .noData {
    font-weight: 300;
    font-style: italic;
    opacity: .6;
  }
}


.secondary {
  padding: 0 10px;

  &:not(.isSelected):not(:hover) {
    .selector {
      display: none;
    }
  }

  .content {
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0.04em;

    color: #000000;

    position: relative;
  }

  .cell {
    padding: 20px 0;
  }

  .select {
    margin-left: 10px;
  }

  .noData {
    font-style: italic;
    opacity: .6;
  }
}
