// Для добавления новой темы нужно указать новый data атрибут и указать цвета css переменных в соответсвии с их scss наименование 
:root { // основная тема или Day
    --primary-color: #495cff;
    --page-bg-light:56, 158, 224; //389ee0
    --page-bg-dark: 10, 14, 32; //0a0e20
    --page-bg-darker: 33, 49, 122; //21317A
    --light-blue: rgba($color: #389ee0, $alpha: 0.1);
    --light-bg: rgba($color: #f9f9f9, $alpha: 1);
    --dark-text-color: #333333;
    --light-text-color: #f2f2f2;
    --dark-bg: 15, 13, 10;//#0f0d0a
    --s: 242, 242, 242;
    --primary-color: #9a97f3;
    --text-color: var(--dark-text-color);
    --page-bg: rgba(var(--page-bg-darker), 0.7);
    --sign-bg: #f2f2f2;
    //grey
    --grey-1: #e0e0e0;
    --grey-2: #bdbdbd;
    --grey-3: #828282;
    --grey-4: #4f4f4f;
    --grey-5: #333333;
    //blue
    --blue-1: #cae3f3;
    --blue-2: #98c8e8;
    --blue-3: #495cff;
    --blue-4: #21317a;
    --blue-5: #121d4d;
    --blue-6: #00082f;
    --page-bg-dark: 15, 13, 10; //#0f0d0a
    --page-bg-light: 56, 158, 224; //#389ee0
    //text
    --text-blue: var(--blue-4);
    --grey-white: var(--grey-5);
    --progress-bg: #98c8e8;
    --aside-bg: #fafafa;
    --dark-color: var(--grey-5);
    --success-color: var(--blue-3);
    --drop-bg: #fff;
    --drop-hover: #cae3f3;
    --dark-link: var(--grey-4);
    --light-bg: rgba(255, 255, 255, 0.2);
    --title-color: #333;
    --tab-bg: #cae3f3;
    --alert-bg:#D2E7F4;
    --light-text-color: #f2f2f2;
    --colorWhite:        #ffffff;
    --colorLight:        #F2F6FC;    
    --colorBlue:         #21317A;
    --colorBlue2:        #354591;
    --colorBlue3:        #21317A;
    --colorLightBlueActive: #6373ff; 
    --colorBlueDark:     #00082F;
    --colorBlueLight:    #e9efff;
    --colorGray:         #979797;
    --colorGrayDark:     #3b4150;
    --colorGray2:        #949baf;
    --colorGray3:        #5f667b;
    --colorGray4:        #41485d;
    --colorGray5:        #7b85a8;
    --colorGray6:        #a7adc0;
    --colorGray7:        #727a91;
    --colorGray8:        #f5f5f7;
    --colorGray9:        #9090a4;
    --colorGray10:       #22224a;
    --colorGray11:       #dfe1ed;
    --colorGray12:       #99a2bb;
    --colorGray13:       #f6faff;
    --colorGray14:       #c1c4d9;
    --colorGray15:       #687189;
    --colorGray16:       #5e6476;
    --colorGray17:       #c2cbd8;
    --colorGray18:       #e0e3ea;
    --colorGray19:       #c3c9d1;
    --colorGray20:       #555b63;
    --colorGray21:       #cbd7e8;
    --colorGray22:       #e7eaf2;
    --colorRed:          #ff5750;
    --colorRed2:         #ff4949;
    --colorBlack:        #0f142d;
    --colorIndigo:       #4e569f;
    --colorIndigoLight:  #8c92c7;
    --colorBgPink:       #f79ce6;
    --headerUserWrapper: #121D4D;
    --sideBarColor:      #FAFAFA;
    --colorWhiteTransparent: #ffffff7e;
    --textColor:           #000;
    --skyBlue:              #B8D7EB;
    --textColor2:           #4F4F4F;
}
// Ночная тема
[data-theme='night'] {
    --textColor:         #fff;
    --colorWhite:        #ffffff;
    --colorLight:        #151515;
    --colorBlue:         #18191a;
    --colorBlue2:        #0c0d0e;
    --colorBlue3:        #363738;
    --colorLightBlueActive: #4d4d4d;
    --colorBlueDark:     #4b4c50;
    --colorBlueLight:    #6a6a6a;
    --colorGray:         #707070;
    --colorGrayDark:     #646a79;
    --colorGray2:        #949baf;
    --colorGray3:        #5f667b;
    --colorGray4:        #41485d;
    --colorGray5:        #7b85a8;
    --colorGray6:        #555761;
    --colorGray7:        #727a91;
    --colorGray8:        #444444;
    --colorGray9:        #9090a4;
    --colorGray10:       #404046;
    --colorGray11:       #68696e;
    --colorGray12:       #484d58;
    --colorGray13:       #6b6d70;
    --colorGray14:       #c1c4d9;
    --colorGray15:       #687189;
    --colorGray16:       #5e6476;
    --colorGray17:       #c2cbd8;
    --colorGray18:       #e0e3ea;
    --colorGray19:       #c3c9d1;
    --colorGray20:       #555b63;
    --colorGray21:       #cbd7e8;
    --colorGray22:       #e7eaf2;
    --colorRed:          #ff5750;
    --colorRed2:         #ff4949;
    --colorBlack:        #0f142d;
    --colorIndigo:       #333547;
    --colorIndigoLight:  #4a4c5c;
    --colorBgPink:       #f79ce6;
    --sideBarColor:      #3f3f3f;
    --colorWhiteTransparent: #ffffff7e;
    --primary-color: #9a97f3;
    --text-color: var(--light-text-color);
    --page-bg: rgba(var(--page-bg-dark), 0.7);
    --sign-bg: rgba(var(--dark-bg), 0.65);
    --text-blue: var(--blue-3);
    --grey-white: #fff;
    --progress-bg: #312f2d;
    --aside-bg: #00082f;
    --dark-color: var(--grey-3);
    --success-color: #f2f2f2;
    --drop-bg: #333;
    --drop-hover: #3a4247;
    --dark-link: var(--grey-3);
    --light-bg: rgba(45, 44, 43, 0.6);
    --title-color: #f2f2f2;
    --tab-bg: #231F20;
    --alert-bg:#231F20;
}

// colors
$colorWhite:        var(--colorWhite);
$colorLight:        var(--colorLight);    
$colorBlue:         var(--colorBlue);
$colorBlue2:        var(--colorBlue2);
$colorBlue3:        var(--colorBlue3);
$colorLightBlueActive: var(--colorLightBlueActive); 
$colorBlueDark:     var(--colorBlueDark);
$colorBlueLight:    var(--colorBlueLight);
$colorGray:         var(--colorGray);
$colorGrayDark:     var(--colorGrayDark);
$colorGray2:        var(--colorGray2);
$colorGray3:        var(--colorGray3);
$colorGray4:        var(--colorGray4);
$colorGray5:        var(--colorGray5);
$colorGray6:        var(--colorGray6);
$colorGray7:        var(--colorGray7);
$colorGray8:        var(--colorGray8);
$colorGray9:        var(--colorGray9);
$colorGray10:       var(--colorGray10);
$colorGray11:       var(--colorGray11);
$colorGray12:       var(--colorGray12);
$colorGray13:       var(--colorGray13);
$colorGray14:       var(--colorGray14);
$colorGray15:       var(--colorGray15);
$colorGray16:       var(--colorGray16);
$colorGray17:       var(--colorGray17);
$colorGray18:       var(--colorGray18);
$colorGray19:       var(--colorGray19);
$colorGray20:       var(--colorGray20);
$colorGray21:       var(--colorGray21);
$colorGray22:       var(--colorGray22);
$colorRed:          #ff5750;
$colorRed2:         #ff4949;
$colorBlack:        var(--colorBlack);
$colorIndigo:       var(--colorIndigo);
$colorIndigoLight:  var(--colorIndigoLight);
$colorBgPink:       #f79ce6;
$headerUserWrapper: var(--headerUserWrapper);
$sideBarColor:      var(--sideBarColor);
$colorWhiteTransparent: var(--colorWhiteTransparent);
$textColor:         var(--textColor);
$skyBlue:           var(--skyBlue);
$textColor2:        var(--textColor2);
$gradient: linear-gradient(180deg, #07d6c1 0%, #25b2d4 27.08%, #5080cd 70.31%, #6169bf 100%);
//fonts
$font-family-base: "Inter", sans-serif, -apple-system, BlinkMacSystemFont, "Segoe UI", "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol";
//font-size

//font-weight

//height
$fullHeight: calc(var(--vh, 1vh) * 100);
$minHeight: 450px;