@import "~@/assets/utils";

.page {
  display: flex;
  flex-direction: column;
  position: relative;

  &.panel-constructor-template {
    .title {
      display: none;
    }
    .header {
      position: absolute;
      left: 0;
      right: 0;
      transform: translateY(rem(-50px));
    }
    margin-top: rem(-40px);
  }
}

.header {
  display: flex;
  align-items: center;
  width: calc(#{percentage(2/3)} - #{rem(15px)});
}

.title {
  @include caption(true);
  color: rgba(var(--dark), 1);
}

.tabs {
  margin-left: auto;
}

.container {
  flex-grow: 1;
  display: flex;
  flex-direction: column;

  margin-top: rem(24px);

  > * {
    flex-grow: 1;
  }
}
