.status {
  border-radius: 10px;

  padding: 4px 25px 6px 5px;
  min-height: 40px;

  display: flex;
  flex-direction: column;

  font-family: 'Inter', sans-serif;

  position: relative;
}

.label {
  padding-left: 6px;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;

  letter-spacing: 0.04em;

  color: #FFFFFF;
}

.hint {
  font-weight: 500;
  font-size: 8px;
  line-height: 10px;
  color: #F2F2F2;
  margin-top: auto;
  text-align: center;
}

.icon {
  position: absolute;
  top: 50%;
  right: 6px;
  height: 16px;
  width: 16px;
  transform: translateY(-50%);
  color: white;
}

.blue {
  background: #495CFF;
}

.green {
  background: #009688;
}

.gray {
  background: #828282;
}

.purple {
  background: #96A1D3;
}

.cyan {
  background: #25B2D4;
}
