.checkbox {
  display: flex;
  align-items: center;

  cursor: pointer;
}

.isSelected {
  .check {
    background: #CBD0E7;

    &:after {
      opacity: 1;
    }
  }
}

.check {
  background: #BDBDBD;
  border-radius: 3px;
  height: 16px;
  width: 16px;

  flex-shrink: 0;

  position: relative;

  &:after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: block;
    background: #21317A;

    border-radius: 100%;

    height: 9px;
    width: 9px;

    opacity: 0;
  }
}

.preLabel,
.label {
  font-weight: 500;
  font-size: 10px;
  line-height: 12px;
  letter-spacing: 0.04em;
  color: #4F4F4F;
}

.preLabel + .check,
.check + .label {
  margin-left: 10px;
}
