.company {
    &__title__main {
        padding: 0.5em 0;
        .compib__row--dark {
            background-color: transparent !important;
        }
            span {
                font-weight: 600 !important;
                font-size: 18px !important;
                line-height: 22px !important;
                color: $colorBlue3 !important;
            }
    }
    &__title__sub {
        border-top: 1px solid #E0E0E0 !important;
        background-color: transparent !important;
        span {
            font-weight: 600 !important;
            font-size: 16px !important;
            line-height: 19px !important;
            letter-spacing: 0.04em !important;
            color: #000000 !important;
        }
    }
}

.companies {
    padding: 10px 0;
    background-color: transparent;
    border-radius: 6px;
    &__body-row {
        border-top-left-radius: 0 !important;
        border-top-right-radius: 0 !important;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        background-color: $colorWhiteTransparent !important;
    }
    
    &__search {
        width: 40px !important;
        height: 40px !important;
        background-color: $colorBlue3 !important;
    }

    &__controls {
        padding: 0 0 20px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__head {

        .companies__row:not(.companies__row-search) {
            height: 59px;
            background-color: #B8D7EB;

            .companies__col {
                cursor: pointer;
            }
        }
    }

    &__separator {
        height: 1px;
        background-color: $colorGray18;
        margin: 20px 0 0;
    }

    &__row {
        @extend %dfsb;
        background-color: $colorWhiteTransparent;
        padding: 0 92px 0 20px;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }

    &__row-search {
        height: 86px;
        // padding-top: 20px;
        padding-bottom: 10px;
        input {
            background-color: #E0E0E0 !important;
            padding: 15px 10px;
            border-radius: 10px; 
        }
    }

    &__col {
        @extend %dffs;
        width: calc(26% - 10px);

        span {
            font-size: 12px;
            font-weight: 500;
            line-height: 21px;
            color: $colorGray16;
            margin: 0 20px 0 0;
        }

        &:not(:first-child) {
            cursor: pointer;
        }

        &:nth-child(2) {
            width: 22%;
        }

        .is-sorted:after {
            right: -20px;
        }
    }

    &__body {
        background-color: $colorWhiteTransparent;
        .companies__row {
            position: relative;

            &:nth-child(odd) {
                background-color: $colorGray13;
            }
        }

        .companies__col {
            min-height: 70px;

            span {
                font-size: 12px;
                font-weight: 500;
                line-height: 21px;
                color: $colorGray15;
            }

            &:nth-child(1) {
                position: relative;
                padding: 0 0 0 20px;
            }

            &:nth-child(3),
            &:nth-child(4) {
                padding: 0 38px 0 0;
            }
        }
    }

    &__col-checkbox {
        position: absolute;
        top: 0;
        left: -10px;
        @extend %dfc;
        width: 20px;
        height: 100%;
        padding: 0 0 1px;
    }

    &__employees-action {
        position: relative !important; 
        top: 25% !important;
        @extend %dfsa;
        display: flex;
        flex-direction: column;
        width: 35px;
        height: 63px;
        padding: 5px 5px 7px 5px;
        box-shadow: 0 13px 11px -7px rgba(217, 227, 239, 0.51);
        border-radius: 4px;
        background-color: $colorWhite;
        transform: translate3d(0, -50%, 0);
    }
    
    &__actions {
        position: absolute;
        top: 50%;
        @extend %dfsa;
        display: flex;
        flex-direction: column;
        right: 30px;
        width: 35px;
        height: 63px;
        padding: 5px 5px 7px 5px;
        box-shadow: 0 13px 11px -7px rgba(217, 227, 239, 0.51);
        border-radius: 4px;
        background-color: $colorWhite;
        transform: translate3d(0, -50%, 0);

        &.is-dark {
            background-color: $colorGray13;
        }
    }

    &__actions-item {
        cursor: pointer;

        svg g {
            transition: fill .1s linear;
        }

        &.active,
        &:hover {
            svg g {
                fill: #495cff;
            }
        }
    }
}

.company__modal-input {
    margin: 0 !important;
    height: 40px !important;
}