.debtor__modal {
    &-input {
        .ur-input {
            border: none !important;
        } 
    }
    .search-input{
        margin: 0 !important;
    }
    .btn-edit {
        width: 35px;
        height: 35px;
        background: #CAE3F3;
        border-radius: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .btn-add {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 35px;
        height: 35px;
        background: #CAE3F3;
        border-radius: 10px;
    }

    &-footer {
        padding-top: 0 !important;
    }
    .compib__row-label {
        height: 100%;
        display: flex;
        align-items: center;
    }
    &-content{
        padding: 0 22px;
        &-title {
            font-weight: 600;
            font-size: 16px;
            line-height: 19px;
            letter-spacing: 0.04em;
            color: #000000;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    }
    &-court-item {
        &-period {
            margin: 30px 0;
            // color: #000000;
        }
        &-table { 
            &-head {
                display: grid;
                grid-template-columns: 1fr repeat(9, 2fr);

                &__item {
                    font-weight: 600;
                    font-size: 12px;
                    line-height: 15px;
                    letter-spacing: 0.04em;
                    color: #000000;
                }
            }

            &-body {
                display: grid;
                grid-template-columns: 1fr repeat(9, 2fr);

                &__item {
                    font-weight: 500;
                    font-size: 12px;
                    line-height: 15px;
                    letter-spacing: 0.04em;
                    color: #333333;
                    margin-top: 30px;
                    padding-bottom: 25px;

                    &-action {
                        width: 70px;
                        height: 35px;
                        background: #CAE3F3;
                        box-shadow: 0px 15px 15px rgba(0, 0, 0, 0.15);
                        border-radius: 10px;
                        display: flex;
                        flex-direction: row;
                        justify-content: space-around;
                        align-items: center;
                        
                        span {
                            cursor: pointer;
                        }
                    }
                }
            }
        }
    }
}
