.dsettings-modal {
    position: fixed;
    z-index: 40;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    //padding: 10vh 0 0;
    background-color: #4e4e4eb8;

    &__inner {
        min-width: 300px;
        max-width: 100%;
        min-height: 100px;
        background-color: $colorWhite;
    }
}

.dsettings {
    position: relative;
    width: 821px;
    background-color: $colorWhite;


    &__close {
        position: absolute;
        top: 15px;
        right: 15px;
        @extend %dfc;
        width: 23px;
        height: 23px;
        cursor: pointer;
    }

    &__head {
        @extend %dffs;
        height: 62px;
        padding: 0 20px;
        border-bottom: 2px solid rgba(#d8d8d8, .4);

        span {
            font-size: 14px;
            font-weight: 500;
            line-height: 21px;
            color: $colorGray16;
        }
    }

    &__row {
        @extend %dffs;
        height: 40px;
        padding: 0 20px;
        background-color: $colorLight;

        .dsettings__row-title {
            color: $colorGray16;
        }
    }

    &__records {
        @extend %dffs;
        height: 70px;
        padding: 0 20px 10px;
    }

    &__col {
        @extend %dffs;
        width: 33.33%;
    }

    &__row-title {
        font-size: 12px;
        font-weight: 500;
        line-height: 21px;
        color: $colorGray15;
    }

    &__col-2 {
        @extend %dffs;
        width: 66.67%;

        span {
            font-size: 12px;
            font-weight: 500;
            line-height: 21px;
            color: $colorGray15;
            opacity: 0.5;
        }
    }

    &__input {
        width: 150px;
        margin: 0 16px 0 0;
        height: 40px;
        padding: 2px 12px;
        border-radius: 4px;
        border: 1px solid rgba(153,162,187,.3);
        -webkit-transition: border-color .3s linear;
        transition: border-color .3s linear;

        input::-webkit-outer-spin-button,
        input::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }

        /* Firefox */
        input[type=number] {
            -moz-appearance: textfield;
        }

        input {
            width: 100%;
            height: 100%;
            color: #6f788f;
            font-size: 12px;
            font-weight: 500;
            line-height: 21px;
            border: none;
            outline: none;
        }
    }

    &__content {
        @extend %dfsb;
        align-items: stretch;
        padding: 21px 20px 0;
        max-height: 350px;
        overflow-y: auto;
    }

    &__content-col {
        display: flex;
        width: 33.33%;
        text-align: center;
    }

    &__revers {
        @extend %dfc;
        width: 100%;
        height: calc(100% - 43px);
        margin: 16px 0 27px;
        overflow: hidden;
    }

    &__revers-btn {
        @extend %dfc;
        position: relative;
        z-index: 3;
        width: 60px;
        height: 60px;
        background-color: #f2f6fc;
        border-radius: 50%;
        cursor: pointer;

        svg g {
            transition: fill .3s linear;
        }

        &:hover {

            svg g {
                fill: $colorBlue3;
            }
        }

        &:before {
            content: '';
            position: absolute;
            z-index: 1;
            top: -200px;
            left: calc(50% - .5px);
            width: 1px;
            height: 200px;
            background-color: #aab7cb;
            opacity: 0.3;
            cursor: auto;
        }

        &:after {
            content: '';
            position: absolute;
            z-index: 1;
            bottom: -200px;
            left: calc(50% - .5px);
            width: 1px;
            height: 200px;
            background-color: #aab7cb;
            opacity: 0.3;
            cursor: auto;
        }
    }

    &__group {
        width: 100%;
        height: auto;
    }

    &__group-wrapper {
        width: 100%;
        border-radius: 2px;
        border: 1px solid $colorGray18;
    }

    &__group-head {
        @extend %dffs;
        height: 51px;
        padding: 0 15px;
        border-bottom: 1px solid $colorGray18;

        span {
            font-size: 12px;
            font-weight: 500;
            line-height: 21px;
            color: $colorGray16;
        }
    }

    &__group-body {
        min-height: 40px;
        padding: 5px 5px 9px;
    }

    &__group-item {
        @extend %dffs;
        height: 35px;
        border-radius: 2px;
        background-color: $colorLight;
        margin: 0 0 2px;
        cursor: move;

        span {
            font-size: 12px;
            font-weight: 500;
            line-height: 21px;
            color: $colorGray16;
        }

        &.is-select {
            border: 1px solid rgba($colorBlue3, .3);
        }

        &.is-fixed {
            opacity: .5;
            cursor: auto;
            pointer-events: none;
        }
    }

    &__group-item_icon {
        @extend %dfc;
        width: 40px;
        height: 100%;
        padding: 0 0 4px;
    }

    &__group-buttons {
        @extend %dffs;
        padding: 20px;
    }
}
