.exchange {

    &__lists {
        padding: 15px 0 0;
        margin: 0;
    }

    &__list-item {
        list-style: none;
        position: relative;
        min-height: 21px;
        padding: 0 0 0 16px;
        font-size: 12px;
        font-weight: 500;
        line-height: 21px;
        color: $colorGray15;
        margin: 0 0 10px;
        cursor: pointer;

        &:before {
            content: '';
            position: absolute;
            top: 6px;
            left: -1px;
            width: 7px;
            height: 7px;
            box-shadow: 0 2px 4px rgba($colorBlue3, 0.48);
            border-radius: 1px;
            background-color: $colorBlue3;
        }

        &:last-child {
            margin: 0;
        }
    }
}