.header {
    @extend %dffs;
    width: 100%;
    height: 90px;
    padding: 0 0 0 39px;
    background-color: $colorBlueDark;
    color: $colorWhite;

    .dropdown-content {
        background-color: #121d4d;
        width: 100%;
    }
    .dropdown-item {
        color: inherit;
        width: 100%;
        padding: 10px 20px;
        display: inline-flex;
        justify-content: space-between;
        align-items: center;
        &:hover {
            background-color: #21317a;
        }
    }

    &__logout {
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 2em;
        svg {
            cursor: pointer;
        }
    }

    &__menu {
        @extend %dffs;
        margin: 0 48px 0 0;
        z-index: 10;
        cursor: pointer;
        transition: transform .3s ease-in-out;
        position: absolute;

        span {
            font-size: rem(14px);
            font-weight: 500;
            line-height: rem(21px);
        }

        &:hover {
            transform: scale(1.05);
        }
    }

    &__menu-icon {
        @extend %dib;
        // padding: 8px 16px 13px;
        margin: 20px 0 0 7px;
        border-radius: 50%;
        // position: fixed;
        // top: 110px;
        // left: 0;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        font-size: 10px;
        width: 30px;
        z-index: 9;
        height: 30px;
        background-color: $colorBlue3;
        box-shadow: 0px 0px 14px rgba(0, 0, 0, 0.12);
        transition: all .4s ease-in-out;

        svg {
            transform: rotate(-180deg);
        }
    }

    &__info {
        @extend %dffs;
        font-size: rem(16px);
        font-weight: 700;
        line-height: rem(21px);
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-column-gap: 2em;
        margin-left: auto;
        &-data {
            display: flex;
            flex-direction: column;

            &-count {
                font-size: 16px;
                font-weight: 600;

            }
            &-title {
                font-size: 13px;
                font-weight: 400;
                line-height: 17px;
                color: #E0E0E0;
            }
        }
        span {
            font-size: rem(14px);
            font-weight: 500;
            line-height: rem(21px);
            opacity: 0.5;
            margin: 0 14px 0 5px;
        }
    }

    &__info-icon {
        @extend %dfc;
        width: 26px;
        height: 26px;
        margin: 0 12px 0 0;
        border-radius: 50%;
        background-color: $colorBlue2;
    }

    &__mail-icon,
    &__bell-icon {
        cursor: pointer;
        &.empty-data {
            opacity: 0.5;
        }
        &.has-new {
            position: relative;

            &:after {
                content: '';
                position: absolute;
                top: -2px;
                right: -1px;
                width: 12px;
                height: 12px;
                border-radius: 50%;
                border: 2px solid $colorBlueDark;
                background-color: #FF7D7D;
            }
        }
    }

    &__mail-icon.has-new:after {
        right: -2px;
        top: -1px;
    }

    &__messages {
        position: relative;
        @extend %dfc;
        width: 130px;
        height: 100%;
        margin: 0px 20px 0 auto;

        .scroll__bar-runner {
            background-color: #5260a0;
        }
    }

    &__message {
        @extend %dfc;
        width: 50%;
        height: 100%;
    }

    &__messages-dropdown {
        position: absolute;
        z-index: 10;
        top: 90px;
        left: -25px;
        width: 211px;
        padding: 5px 0 10px;
        border-radius: 0 0 4px 4px;
        background-color: $colorBlueDark;
    }

    &__messages-dropdown_body {
        max-height: 300px;
    }

    &__messages-items {
        list-style: none;
        padding: 0 15px 10px;
        margin: 0;
        max-height: 10em;
        overflow-y: auto;
    }

    &__messages-item {
        padding: 15px 0 15px 18px;
        border-bottom: 1px solid #2b3979;

        a {
            position: relative;
            display: block;
            font-size: 12px;
            font-weight: 400;
            line-height: 18px;
            color: $colorWhite;
            text-decoration: none;

            b {
                font-weight: 500;
            }

            &:before {
                content: '';
                position: absolute;
                top: 16px;
                left: -18px;
                width: 6px;
                height: 6px;
                border-radius: 50%;
                background-color: #FF7D7D;
            }
        }
    }

    &__messages-item--sender {
        padding: 0;
        margin: 0;
        font-weight: 500;
    }

    &__messages-item--message {
        color: #ffffff;
        font-size: 12px;
        font-weight: 400;
        line-height: 18px;
        margin: 0 0 4px;
    }

    &__messages-item--title {
        padding: 0;
        margin: 0 0 7px;
        opacity: 0.5;

        b {
            font-weight: 500;
        }
    }

    &__messages-item--time {
        font-size: 12px;
        font-weight: 400;
        color: $colorWhite;
        opacity: 0.5;
        line-height: 18px;
    }

    &__messages-loader {
        position: relative;
        width: 180px;

        &--inner, &--outer {
            position: absolute;
            width: calc(100% - 32px);
            height: 4px;
            bottom: -8px;
        }

        &--inner {
            z-index: 10;
            background: #475cff;
        }

        &--outer {
            background: #263371;;
        }
    }


    &__messages-dropdown_footer {
        height: 80px;
        padding: 5px 15px;

        .btn {
            width: 100%;
            margin: 5px 0;
        }
    }

    &__user {
        position: relative;
        @extend %dfc;
        height: 100%;
        margin: 0;
        min-width: 190px;
        padding: 0 1em;
        background-color: $headerUserWrapper;
    }

    &__user-avatar {
        width: 40px;
        height: 40px;
        margin: 0 4px 4px;
        // border-radius: 9px;
        // background: #3f497a url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAOCAMAAAAsYw3eAAAANlBMVEUAAAD////////////////////////////////////////////////////////////////////xY8b8AAAAEnRSTlMAEI/fsP+gIECQgNA/nzDvcMDD4fdlAAAATklEQVR42kXJWxKAIAxD0RSMvKnuf7PWDsr5yp3ASIgxYDloTrhEJx6ZLnvIfkx5d8FSW6v4SO+yZho0I8FMpdMJiHKJgsrfhbbjBjd9AMMkArgcf2WWAAAAAElFTkSuQmCC) center center no-repeat;
        // background-size: cover;
        overflow: hidden;
    }

    &__user-data {
        position: relative;
        @extend %dfdc;
        justify-content: center;
        align-items: flex-start;
        height: 100%;
        padding: 0 22px 0 5px;
        cursor: pointer;

        &:after {
            content: '';
            position: absolute;
            top: 47%;
            right: 7px;
            width: 0;
            height: 0;
            border-top: 4px solid #c2c8df;
            border-left: 3px solid transparent;
            border-right: 3px solid transparent;
            transform: translate3d(-50%, -50%, 0);
            transition: transform .3s ease-in-out;
        }

        &.is-open:after {
            transform: translate3d(-50%, -50%, 0) scale(1, -1);
        }

    }

    &__user-name {
        margin: 0 0 1px;
        font-size: 14px;
        font-weight: 400;
        line-height: 139.34%;
        letter-spacing: 0.04em;
        opacity: 0.5;
    }

    &__user-balans {
        font-size: rem(16px);
        font-weight: 500;
    }

    &__user-user {
        margin-top: 4px;
    }

    &__user-dropdown {
        position: absolute;
        z-index: 11;
        top: 100px;
        right: 0;
        width: 100%;
        // height: 86px;
        padding-bottom: 10px;
        border-radius: 0 0 4px 4px;
        box-shadow: 0px 9px 18px rgba(0, 0, 0, 0.18), 0px 5.5px 5px rgba(0, 0, 0, 0.237602);
        background-color: $headerUserWrapper;
    }

    &__user-dropdown_btn {
        @extend %dffs;
        padding: 8px 14px;
        font-size: 12px;
        font-weight: 400;
        line-height: 18px;
        color: #E0E0E0;
        justify-content: space-between;
        background-color: $headerUserWrapper;
        margin: 7px 0 0;
        cursor: pointer;
        transition: background-color .3s linear;

        &:hover {
            color: $colorWhite;
            background-color: #3f497a;
        }
    }
}
