.court__modules-btn {
    .btngroup__item {
        background-color: rgba(255, 255, 255, 0.8);
    }
}

.table {

    &.with-search {
        .table__inner {
            height: calc(100vh - 570px);
        }

    }

    &__control {
        border-bottom: 1px solid $colorGray11;
    }

    &__nav {
        @extend %dfsb;
        // height: 53px;
        // padding: 0 17px;
        margin-bottom: 10px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: relative;
  
        &.column {
            flex-direction: column;
        }
    }

    &__nav-action {
        @extend %dib;
        border-bottom: 1px dashed #99a2bb;
        margin: 0 21px 0 0;
        cursor: pointer;

        span {
            font-size: 12px;
            font-weight: 400;
            color: $colorGray2;
        }
    }

    &__search {
        width: 100%;
        // position: absolute;
        background: #ffffff;
        border-bottom: 1px solid $colorGray17;
        z-index: 10;
        padding: 0 17px;
    }

    &__search-inputs {
        @extend %dffs;
        align-items: end;
        flex-wrap: wrap;
        width: 100%;
    }

    &__search-input {
        @extend %dfc;
        width: 24%;
        min-width: 24%;
        margin: 0 4px 10px;
    }

    &__search-input-cols-2  {
        @extend %dfc;
        width: 48.5%;
        min-width: 48,5%;
        margin: 0 4px 10px;
    }

    &__search-buttons {
        @extend %dffs;
        padding: 5px 0 27px;

        .btn:first-child {
            margin: 0 9px 0 0;
        }
    }

    &__outer {
        background-color: #ffffffcc;
        position: relative;
        overflow: hidden;
    }

    &__scroll {
        position: absolute;
        top: 42px;
        right: 10px;
        width: 2px;
        height: calc(100% - 96px);
    }

    &__scroll-marker {
        position: absolute;
        left: 0;
        width: 2px;
        height: 44px;
        border-radius: 2px;
        background-color: #aab6c8;
    }

    &__inner {

        &-scroll {
            overflow-y: scroll;
            height: calc(100vh - 320px);
        }

        table {
            width: 100%;
            border-collapse: collapse;
	        border-spacing: 0;
	        border: 0 solid skyblue;
            //th:first-child,
            //td:first-child {
            //    width: 37px;
            //    padding: 0 0 0 15px;
            //}
        }
    }

    &__head {
        line-height: 50px;
        background-color: $skyBlue;
        th {
            border-spacing: 0;
            padding: 0;
            margin: 0;
        }
        &-cell {
            background-color: $skyBlue;
            height: 60px;
            display: flex;
            align-items: center;
            justify-content: center;

            &--sort {
                cursor: pointer;
            }

            span {
                color: $textColor2;
                font-weight: 600;
                font-size: 16px;
                line-height: 19px;
                letter-spacing: 0.04em;
            }
        }

        &-sort {
            span {
                margin-left: 6px;
            }
        }

        th {
            position: sticky;
            background: white;
            z-index: 1;
            top: 0;
            font-size: 12px;
            font-weight: 500;
            line-height: 21px;
            color: $colorGray12;
            text-align: center;
        }

        th:nth-child(2) {
            text-align: left;

            span {
                //margin: 0 0 0 17px;
            }
        }

        th:nth-child(3) span {
            //margin: 0 30px 0 0;
        }
    }

    &__head-row {
        top: 0;
        left: 0;
        @extend %dfsb;
        width: 100%;
        height: 42px;
        padding: 0;

        th {
            font-size: 12px;
            font-weight: 500;
            line-height: 21px;
            color: $colorGray12;
            text-align: center;
        }

        th:nth-child(2) {
            text-align: left;

            span {
                margin: 0 0 0 17px;
            }
        }

        th:nth-child(3) span {
            margin: 0 30px 0 0;
        }
    }
    // Пришлошсь написать так, нужно что было что бы тень не налазила на соседние элементы и при этом была только на n блоков в ряду
    &__row:hover {
        td:nth-child(4) {
            background: #B8D7EB;
            box-shadow: 10px 12px 10px 0px rgba(50, 50, 50, 0.20);
        }
        td:nth-child(5) {
            background: #B8D7EB;
            box-shadow: 10px 12px 10px 0px rgba(50, 50, 50, 0.20);
        }
        td:nth-child(6) {
            background: #B8D7EB;
            box-shadow: 10px 12px 10px 0px rgba(50, 50, 50, 0.20);
        }
        td:nth-child(7) {
            background: #B8D7EB;
            box-shadow: 10px 12px 10px 0px rgba(50, 50, 50, 0.20);
        }
        td:nth-child(8) {
            background: #B8D7EB;
            box-shadow: 10px 12px 10px 0px rgba(50, 50, 50, 0.20);
        }
        td:nth-child(9) {
            background: #B8D7EB;
            box-shadow: 10px 12px 10px 0px rgba(50, 50, 50, 0.20);
        }
        td:nth-child(3) {
            background: #B8D7EB;
            box-shadow: 10px 12px 10px 0px rgba(50, 50, 50, 0.20);
            border-top-left-radius: 10px;
            border-bottom-left-radius: 10px;
        }
        td:nth-child(10) {
            background: #B8D7EB;
            box-shadow: 10px 12px 10px 0px rgba(50, 50, 50, 0.20);
            border-top-right-radius: 10px;
            border-bottom-right-radius: 10px;
        }
    }

    &__row {
        height: 56px;
        padding: 0 0 0 10px;
        cursor: pointer;

        td {
            transition: all .4s cubic-bezier(0.04, 1.18, 0.58, 0.98)t;
            text-align: center;
            //min-width: 40px;
            max-width: 100px;
            //&:not(.is-checkbox) {
            //    min-width: 70px;
            //}
        }

        span {
            color: #333333;
            font-weight: 500;
            font-size: 12px;
            line-height: 15px;
            letter-spacing: 0.04em;
        }

        &.is-dark {
            background-color: #f6faff;
        }

        &--is-total {
            height: 34px !important;
        }
    }

    &__col-status {
        position: relative;
        display: flex;
        justify-content: center;

        span {
            width: 110px;
            height: 40px;
            vertical-align: middle;
            display: flex;
            justify-content: flex-start;
            padding-left: 10px;
            align-items: center;
            color: $colorBlue3;
            border-radius: 10px;
            background-color: $colorBlueLight;
            cursor: pointer;
            font-weight: 500;
            font-size: 12px;
            line-height: 15px;
            /* identical to box height */
            letter-spacing: 0.04em;
        }
    }

    &__col-user {
        @extend %dfc;
        width: 100%;
        height: 100%;
        text-decoration: none;
    }

    &__col-ordernum {
        padding: 0 0 0 5px;
        font-size: 12px;
        font-weight: 500;
        line-height: 21px;
        color: #687189;
        text-align: center;
    }

    &__row-total {
        //height: 55px;
        background-color: rgba(#fff9e0, 0.3);
        // border: 1px solid blue;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        td {
            min-width: 40px;
            max-width: 90px;
            //width: 10%;
            font-size: 12px;
            font-weight: 700;
            line-height: 21px;
            color: $colorGray3;
            text-align: center;
        }

        th {
            font-size: 12px;
            font-weight: 700;
            line-height: 21px;
            color: #5f667b;
            bottom: 0px;
            position: sticky;
            text-align: center;
            background: white;
            z-index: 1;
        }

        th:nth-child(2) {
            text-align: left;
            padding-left: 8px;
        }

    }

    &__agregate {
        display: flex;
        align-items: center;
        //padding-right: 12px;
        width: 100%;
        height: 45px;
        background: #455159;

        .table__col-total {
            font-weight: 600;
            font-size: 18px;
            line-height: 22px;
            color: #FFFFFF;
        }
        .table__col-total-item {
            font-weight: 500;
            font-size: 14px;
            line-height: 17px;
            text-align: right;
            letter-spacing: 0.02em;
            color: #FFFFFF;
        }
        &-item {
            padding: 0 6px;
            font-size: 12px;
            font-weight: 700;
            line-height: 21px;
            color: #5f667b;
            bottom: 0px;
            text-align: right;
            background: white;
            z-index: 1;
        }
    }

    &__footer {
        position: absolute;
        bottom: 47px;
        left: 40px;
        @extend %dfsb;
        height: 55px;
    }

    &__row-total_title {
        @extend %dfsb;
        height: 55px;
        padding: 0 20px 0 0;
        font-size: 12px;
        font-weight: 700;
        line-height: 55px;
        color: $colorGray3;
        background-color: rgba(#fff9e0, 0);

        > div {
            margin: 0 20px 0 auto;
        }
    }
}


// =============================== 
.modal-deb__table--width {
    width: 100%;
    max-width: 450px;
  }
  
  .modal-deb__table--width2 {
    width: 100%;
    max-width: 750px;
  }
  
  .modal-deb__table td {
    padding: 10px;
    font-size: 12px;
  
    /* min-width: 110px; */
  }
  
  th.num-th {
    width: 40px;
  }
  
  .name-th {
    width: 30%;
  }
  
  .dark .modal-deb__table td {
    color: #e0e0e0;
  }
  
  .modal-deb__table th {
    text-align: left;
    font-weight: 600;
    font-size: 16px;
    line-height: 21px;
    letter-spacing: 0.04em;
    color: #4f4f4f;
    padding: 10px;
    vertical-align: top;
  }
  
  .dark .modal-deb__table th {
    color: #e0e0e0;
  }
  
  .modal-deb__table td {
    &:first-child {
      font-weight: 500;
      border-radius: 10px 0 0 10px;
    }
  
    &:last-child {
      border-radius: 0 10px 10px 0;
    }
  }
  .modal-deb__scroll {
    overflow-x: scroll;
    padding-bottom: 20px;
    position: relative;
    padding: 0 2em;
  
    > table {
      min-width: 1000px;
    }
  }
  .__select {
    position: relative;
    width: 100%;
    height: 45px;
    max-width: 65px;
  }
  
  .__select--full {
    max-width: 100%;
  }
  
  .select-min .__select {
    width: 166px;
    margin: 0;
  }
  
  .__select[data-state='active'] {
    .__select__title {
      &::before {
        transform: translate(-3px, -50%) rotate(-45deg);
      }
  
      &::after {
        transform: translate(3px, -50%) rotate(45deg);
      }
    }
  
    .__select__content {
      opacity: 1;
    }
  
    .__select__label + .__select__input + .__select__label {
      max-height: 45px;
      border-top-width: 1px;
    }
  }
  
  .__select__title {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    background: #ffffff;
    padding: 0 10px;
    border: 1px solid #e0e0e0;
    box-sizing: border-box;
    border-radius: 10px;
    user-select: none;
    cursor: pointer;
    font-size: 12px;
    background-color: #e0e0e0;
  }
  
  .dark {
    .__select__title, .__select__content {
      background: #828282 !important;
      border: 1px solid #828282 !important;
      color: #bdbdbd;
    }
  
    .__select__input:checked + label {
      background: #21317a !important;
      color: #bdbdbd;
    }
  }
  
  .main__user-panel__search-box .__select__title {
    background: #a5bfd0;
    border: 1px solid #a5bfd0;
  }
  
  .modal__printeform .__select__title {
    width: 100px;
  }
  
  .select-min .__select__title {
    background: #e0e0e0;
    border: 1px solid #e0e0e0;
  }
  
  .__select__title {
    &::before {
      content: '';
      position: absolute;
      top: 50%;
      right: 16px;
      display: block;
      width: 8px;
      height: 1px;
      transition: all 0.3s ease-out;
      background-color: #333333;
      transform: translate(-3px, -50%) rotate(45deg);
    }
  
    &::after {
      content: '';
      position: absolute;
      top: 50%;
      right: 16px;
      display: block;
      width: 8px;
      height: 1px;
      transition: all 0.3s ease-out;
      background-color: #333333;
      transform: translate(-3px, -50%) rotate(45deg);
      transform: translate(3px, -50%) rotate(-45deg);
    }
  }
  
  .__select__content {
    position: absolute;
    top: 37px;
    left: 0;
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-top: 3px;
    background-color: #bdd9eb;
    border-top: none;
    box-shadow: 0px 15px 15px rgba(0, 0, 0, 0.15);
    border-radius: 0px 0px 10px 10px;
    transition: all 0.3s ease-out;
    opacity: 0;
    z-index: 8;
  }
  
  .__select__input {
    display: none;
  
    &:checked + label {
      background-color: #a5bfd0;
    }
  
    &:disabled + label {
      opacity: 0.6;
      pointer-events: none;
    }
  }
  
  .__select__label {
    display: flex;
    align-items: center;
    width: 100%;
    height: 30px;
    max-height: 0;
    padding: 0 10px;
    font-size: 12px;
    transition: all 0.2s ease-out;
    user-select: none;
    cursor: pointer;
    overflow: hidden;
  }
  
  .dark .__select__label {
    color: #333333;
  }
  
  .__select__label {
    &:last-child {
      border-radius: 0px 0px 10px 10px;
    }
  
    &:hover {
      background-color: #cae3f3 !important;
    }
  }