.tab {
  padding: 0 90px 40px;
  margin-top: 15px;
}

.documents {
  margin: 18px -15px 0;

  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}

.document {
  margin: 20px 15px 0;
  width: 150px;
}

.actions {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin: 20px -10px 0;
}

.action {
  margin: 0 10px;
  height: 50px;
  padding: 0 10px;
}

.pagination {
  margin-top: 20px;
}
