@import "~@/assets/utils";

.page {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.table {
  flex-grow: 1;

  [data-cell] {
    word-break: break-word;
  }
}

.personalAccount {
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
}

.personalAccountIcons {
  &:not(:empty) {
    margin-left: rem(8px);
  }
}

.personalAccountValue {
  margin-right: auto;
  @include subText;
  color: rgba(var(--blue-3), 1);
}
