.toast {
  padding: 36px 22px;
  border-radius: 10px 0px 0px 10px;
}

.message {
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  white-space: pre-line;
}

.success {
  background: #009688;
  color: #fff;
}

.error {
  background: #FF7D7D;
  color: #fff;
}

.warning {
  background: #ffad3c;
  color: #fff;
}
