.actions {
  display: flex;
  align-items: center;

  background: white;
  box-shadow: 0px 15px 15px rgba(0, 0, 0, 0.15);
  border-radius: 10px;

  &:not(.oneAction) {
    padding: 0 5px;
  }
}

.actionWrapper {
  position: relative;

  &:not(:first-child) {
    .action {
      &:before {
        content: '';
        position: absolute;
        display: block;
        left: -.5px;
        top: 5px;
        bottom: 5px;
        width: 1px;
        background: #BDBDBD;
      }
    }
  }

  &:last-child {
    .action {
      border-top-right-radius: 10px;
      border-bottom-right-radius: 10px;
    }
  }

  &:first-child {
    .action {
      border-top-left-radius: 10px;
      border-bottom-left-radius: 10px;
    }
  }
}

.action {
  display: flex;
  align-items: center;
  justify-content: center;

  user-select: none;

  height: 40px;
  padding: 0 10px;

  position: relative;

  cursor: pointer;

  color: #828282;

  &:hover {
    color: #21317A;
  }

  &.isActive {
    background: #21317A;
    color: #fff;
  }
}

.content {
  z-index: 2;
  position: relative;
}

.icon {
  height: 24px;
  width: 30px;
}
