@import "~@/assets/utils";

.container {
  display: flex;
  flex-direction: column;
}

.title {
  @include caption(true);
  color: rgba(var(--dark), 1);
  margin-top: rem(20px);
}

.table {
  flex-grow: 1;
  height: 0;
  overflow-y: auto;

  margin-top: rem(30px);

  [data-role="action(preview)"] {
    [data-role="icon"] {
      color: rgba(var(--green), 1);
    }
  }

  [data-role="action(download)"] {
    [data-role="icon"] {
      color: rgba(var(--blue), 1);
    }
  }

  [data-role="action(listen)"] {
    [data-role="icon"] {
      color: rgba(var(--lightblue-3), 1);
    }
  }
}
