$accessGreen: rgba(70, 233, 78, 0.726);
$declineRed: rgba(233, 70, 70, 0.726);
$borderColor: #8e919781;

.vs__search {
    display: block;
    width: 0 !important;
}

.btn__adress-status {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    &-item {
        cursor: pointer;
        border: none;
        background: transparent;
        border-radius: 0.4rem;
        transition: all .4s ease-in-out;

        svg > g {
            fill: #ffff;
        }
        &.access {
            margin: 0 0.2em;
            padding: 0.5em;
            background-color: $accessGreen;

            &:hover {
                background-color: darken($accessGreen, 15%);
            }
        }

        &.decline {
            margin: 0 0.2em;
            padding: 0.5em;
            background-color: $declineRed;
            &:hover {
                background-color: darken($declineRed, 15%);
            }
        }
    }

}
.table__adres-rows-wrapper {
    max-height: 500px;
    overflow-y: auto;
}
.table__adress-rows {
    padding: 1em 22px;
    max-height: 10em;
    overflow-y: auto;
    display: grid;
    grid-template-columns: 0.2fr 1fr 1fr 1fr 0.5fr 0.5fr 0.5fr 0.5fr;
}
.table__adress-row {
    display: flex;
    align-items: center;

    .status__adress {
        min-width: 90px;

        &.on-error {
            font-weight: bold;
            color: $declineRed;
        }

        &.on-success {
            font-weight: bold;
            color: darken($accessGreen, 20%);
        }
    }
}
.table__adress-head {
    padding: 1em 22px;
    display: grid;
    grid-template-columns: 0.2fr 1fr 1fr 1fr 0.5fr 0.5fr 0.5fr 0.5fr;
    border-bottom: 0.5px solid #f2f6fc;
    div {
        color: #5e6476;
        font-weight: bold;
    }
}
.admin {
    &-adress {
        &_add-btn {
            display: grid;
            grid-template-columns: 0.5fr 3fr 0.5fr 1fr;
            padding: 0 14px;
            .vs__search {
                display: block !important;
            }
        }

        &__supbtn-wrapper {
            padding: 1em;
        }

        &_select-wrapper {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            height: 100%;
            .v-select {
                width: 100%;
                // height: 100%;
            }
        }
    }
}
.adress {
    &__previous-div {
        margin-right: 2em;
    }
    &__error-tabs {
        display: flex;
        flex-direction: row;
        max-width: 82%;
        overflow-x: auto;
    }

    &__error-tab {
        display: grid;
        cursor: pointer;
        grid-template-columns: 4fr 1fr;
        width: 150px;
        padding: 0.5em;
        border-top-left-radius: .8rem;
        border-top: 1px solid $borderColor;
        border-right: 1px solid $borderColor;
        border-left: 1px solid $borderColor;
        transition: all .4s ease-in-out;

        &.active-tab {
            border: 1px solid #7b7b7b;
            transition: all .4s ease-in-out;
        }

        &__name {
            color: #474b58;
        }

        &__close {
            display: flex;
            justify-content: center;
            align-items: center;
            font-weight: bold;
            padding-left: 0.5em;
        }
    }
}
.title__select-number {
    display: flex;
    justify-content: center;
    align-items: center;
}