@import "~@/assets/utils";

.actions {
  display: flex;
  align-items: center;
  margin: 0 rem(-15px);
}

.action {
  margin: 0 rem(15px);
  position: relative;
  color: rgba(var(--white), 1);

  cursor: pointer;

  &.notified {
    &:after {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      height: rem(10px);
      width: rem(10px);
      background: rgba(var(--red), 1);
      box-shadow: 0 0 0 rem(2px) rgba(var(--dark-2), 1);
      border-radius: 100%;
    }
  }
}

.trigger {
  height: rem(25px);
  width: rem(25px);
}
