.page {
  display: flex;
  flex-direction: column;
}

.title {
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
  letter-spacing: 0.04em;
  color: #333333;
}

.body {
  margin-top: 30px;
  display: grid;
  grid-template-columns: 1fr 291px;
  grid-gap: 30px;

  flex-grow: 1;
}

.side {
  display: flex;
  flex-direction: column;
}

.action {
  margin-top: auto;
  position: sticky;

  bottom: 10px;
}

.actionBtn {
  height: 60px;
  width: 100%;
}

.error {
  margin-top: 10px;
  color: #f03b3b;
}

.examples {
  background: rgba(255, 255, 255, 0.75);
  border: 0.5px solid #F9F9F9;
  box-sizing: border-box;
  border-radius: 10px;

  padding: 30px 20px;
}

.examplesLabel {
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.04em;
  color: #4F4F4F;
}

.examplesType {
  &:first-child {
    margin-top: 20px;
  }
  &:not(:first-child) {
    margin-top: 30px;
  }
}

.examplesCaption {
  font-size: 14px;
  line-height: 19px;
  letter-spacing: 0.03em;
  color: #000000;
}

.examplesList {
  margin-top: 18px;
}

.content {
  background: rgba(255, 255, 255, 0.75);
  border: 0.5px solid #CAE3F3;
  box-sizing: border-box;
  border-radius: 10px;

  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  height: 50px;
  background: #fff;
  border-radius: 10px 10px 0 0;
  box-shadow: inset 0 -1px 0 0 #CAE3F3;

  position: relative;
  z-index: 2;
}

.year,
.tab {
  flex-grow: 1;
  flex-shrink: 0;
}

.tab {
  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.02em;
  color: #4F4F4F;

  &.active {
    background: #7D9AEB;
    border-radius: 0 0 10px 10px;
    color: #fff;
  }

  &.disabled {
    opacity: .5;
  }
}

.main {
  flex-grow: 1;
  padding: 20px 30px;

  display: flex;
  flex-direction: column;
}

.modes {
  display: flex;
  margin: 0 -10px;

  position: relative;
  z-index: 1;

  + .periods {
    margin-top: 34px;
  }

  + .files {
    margin-top: -32px;
  }
}

.mode {
  height: 50px;
  width: 150px;
  padding: 0 36px;
  display: flex;
  align-items: center;
  justify-content: center;

  border: 0.5px solid #BDBDBD;
  box-sizing: border-box;
  border-radius: 10px;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.02em;
  color: #333333;

  margin: 0 10px;

  cursor: pointer;

  &.active {
    background: #CAE3F3;
    border-color: transparent;
    box-shadow: 0px 15px 15px rgba(49, 69, 81, 0.1);
    color: #21317A;
  }
}

.periods {
  margin: 0 -20px;
  display: flex;

  + .months {
    margin-top: 10px;
  }
  + .files {
    margin-top: -32px;
  }
}

.period {
  margin: 0 20px;
  padding-left: 25px;

  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.02em;
  color: #000000;

  position: relative;
  z-index: 1;

  cursor: pointer;

  &:before {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    background: #BDBDBD;
    border-radius: 3px;
    display: block;
    height: 15px;
    width: 15px;
  }

  &.active {
    &:before {
      box-shadow: inset 0 0 0 3px #7D9AEB;
      background: #fff;
    }
  }
}

.months {
  margin: 0 -30px;
  display: flex;
  flex-wrap: wrap;
}

.month {
  margin: 20px 30px 0;
  width: calc(#{percentage(1/4)} - 60px);
  flex-shrink: 0;
}

.files {
  margin: -52px -15px 0;
  display: flex;
  flex-wrap: wrap;

  flex-grow: 1;

  position: relative;
}

.file {
  margin: 52px 15px 0;
  width: calc(#{percentage(1/4)} - 30px);
  flex-shrink: 0;
}

.dropZone {
  position: absolute;
  top: 52px;
  left: 0;
  right: 0;
  bottom: 0;

  background: rgba(58, 58, 58, 0.65);
  border-radius: 10px;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.dropZoneIcon {
  height: 40px;
  width: 40px;
  color: white;
}

.dropZoneLabel {
  margin-top: 20px;
  text-align: center;

  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.04em;
  color: #FFFFFF;
}

.removeWrapper {
  margin: auto 0 0 auto;
}

.remove {
  margin-top: 32px;
  display: flex;
  align-items: center;

  cursor: pointer;
}

.removeLabel {
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.02em;
  color: #828282;
}

.removeIcon {
  margin-left: 10px;
  height: 20px;
  width: 20px;
  color: #FF7D7D;
}

