@import "~@/assets/utils";

.page {
  padding: rem(20px) rem(40px) 0 rem(55px);

  display: flex;
  flex-direction: column;
}

.container {
  margin-top: rem(40px);
  display: grid;
  grid-template-columns: 380fr 1125fr;
  grid-gap: rem(40px);

  padding-bottom: rem(35px);

  flex-grow: 1;
}

.shadow {
  background: rgba(var(--table-bg), 0.2);
  box-shadow:
          inset 0 0 0 rem(.5px) rgba(var(--table-bg), 0.6),
          inset rem(-30px) rem(-30px) rem(30px) rgba(var(--table-bg), 0.1);
}

.side {
  border-radius: rem(10px);
  display: flex;
  flex-direction: column;
}

.controls {
  padding: rem(30px) rem(20px);
  border-radius: rem(10px) rem(10px) 0 0;
  background: rgba(var(--table-bg), .6);
}

.control {
  &:not(:first-child) {
    margin-top: rem(30px);
  }
}

.content {
  box-sizing: border-box;
  border-radius: rem(10px);
  padding: rem(30px);

  display: flex;
  flex-direction: column;

  > * {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
  }
}

.dataTypes {
  display: flex;
  flex-direction: column;
  margin-top: rem(10px);
  border-radius: 0 0 rem(10px) rem(10px);
  overflow: hidden;
}

.dataType {
  padding: rem(20px) rem(35px) rem(20px) rem(60px);
  display: flex;
  align-items: center;

  cursor: pointer;

  position: relative;

  &:before {
    content: '';
    height: rem(10px);
    width: rem(10px);
    border-radius: rem(3px);
    background: rgba(var(--purple), 1);
    display: block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: rem(35px);
  }

  &.active {
    background: rgba(var(--lightblue-3), .16);
    .dataTypeLabel {
      color: rgba(var(--purple), 1);
      font-weight: bold;
    }
  }

  &:not(.active) {
    &:before {
      display: none;
    }
  }
}

.dataTypeLabel {
  @include subText;
  color: rgba(var(--gray-2), 1);
}
