.filters {
  width: 470px;
  padding: 20px 20px 43px;

  background: #FFFFFF;
  box-shadow: 0px 9px 18px rgba(0, 0, 0, 0.18), 0px 5.5px 5px rgba(0, 0, 0, 0.237602);
  border-radius: 10px ;
}

.list {
  display: flex;
  flex-wrap: wrap;
  margin: -15px -5px 0;
}

.filter {
  padding: 15px 5px 0;

  flex-shrink: 0;
}

.actions {
  margin: 27px -32.5px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.action {
  margin: 0 32.5px;
  width: 140px;
  height: 60px;
}

