.icon {
  display: block;
  height: 100%;
  width: 100%;
}

@keyframes icon-spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.spin {
  animation: icon-spin 1s linear infinite;
}

.source {
  display: block;
  pointer-events: none;
  fill: currentColor;
  height: 100%;
  width: 100%;
}
