.animation-simple {

    >div {
        display: inline-block;
        vertical-align: middle;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        border: 1px solid $colorBlueDark;
        background-color: $colorBlueDark;
        margin: 0 2px;
        animation: bg-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;

        @for $i from 0 through 7 {
            &:nth-child(#{$i}) {
                opacity: 0.125 * $i;
                animation-delay: 0.15s * $i;
            }
        }
    }
}

@keyframes bg-roller {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}