.app-rating {
    padding: 6px;
    text-align: center;

    &__star {
        @extend %dib;
        line-height: 8px;

        &:not(:last-child) {
            margin: 0 2px 0 0;
        }
    }

    &__text {
        padding: 10px;;
        border-radius: 10px;
        margin-left: 10px;
        background-color: $colorLight;
    }
}
