.calendar {
    width: 373px;
    background-color: $colorWhite;

    &__head {
        @extend %dfsb;
        height: 69px;
        padding: 20px;
        border-bottom: 2px solid rgba(#d8d8d8, .4);

        span {
            font-size: 14px;
            font-weight: 500;
            line-height: 21px;
            color: $colorGray16;
        }
    }

    &__wrapp {
        width: 256px;
        margin: 0 auto;
    }

    &__btn {
        padding: 19px 0;

        .btn {
            width: 100%;
            height: 40px;
            padding: 9px 10px 10px;
            text-align: center;
        }
    }

    &__slider {
        @extend %dfsb;
        padding: 4px 0 13px;
    }

    &__slider-arrow {
        @extend %dfc;
        width: 26px;
        height: 26px;
        padding: 0 0 2px;
        border-radius: 3px;
        background-color: $colorLight;
        cursor: pointer;
    }

    &__slider-arrow--left {

        svg {
            transform: rotate(180deg);
        }
    }

    &__slider-month {

        span {
            font-size: 14px;
            font-weight: 500;
            line-height: 21px;
            color: $colorGray16;
        }

        #year {
            margin: 0 0 0 15px;
        }
    }

    &__table {
        height: 200px;
    }

    &__table-header {
        margin: 0 0 15px;

        .calendar__table-cell {
            height: 10px;
            padding: 0;
            opacity: 1;
        }
    }

    &__table-row {
        @extend %dfsb;
        margin: 0 0 3px;
    }

    &__table-cell {
        width: 26px;
        height: 26px;
        padding: 3px 0 0;
        font-size: 12px;
        font-weight: 500;
        line-height: 21px;
        color: #5e6476;
        opacity: 0.5;
        text-align: center;
        border: 1px solid rgba($colorBlue3, 0);
        border-radius: 3px;
        transition: background-color .3s linear, box-shadow .3s linear, border-color .3s linear;

        &.is-selectable {
            opacity: 1;
            cursor: pointer;

            &:hover {
                border-color: $colorBlue3;
                box-shadow: 0 2px 4px rgba(73, 92, 255, 0.5);
            }
        }

        &.is-now {
            border-color: rgba($colorBlue3, .2);
        }

        &.is-selected {
            color: $colorWhite;
            opacity: 1;
            box-shadow: 0 2px 4px rgba(73, 92, 255, 0.5);
            background-color: #495cff;
        }
    }

    &__footer {
        padding: 10px 20px 20px;

        .btn {
            width: 100%;
            text-align: center;
        }
    }
}