.confirm {
    min-width: 400px;
    background-color: #fff;
    border-radius: 20px;

    &__title {
        padding: 40px 20px 20px;
        font-size: 14px;
        font-weight: 500;
        line-height: 21px;
        text-align: center;
        color: #5e6476;
    }

    &__body {
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 100px;
        padding: 20px;
    }

    &__body-input {
        padding: 20px 20px 40px;
    }

    .btn {
        flex: 1;
        text-align: center;
    }
}