.context-menu {
    display: none;
    position: fixed;
    z-index: 10;
    width: 141px;
    border-radius: 2px 2px 2px 2px;
    box-shadow: 0 5px 15px rgba(194, 204, 217, 0.55);
    border-radius: 2px;
    background-color: $colorWhite;
    overflow: hidden;

    &.is-active {
        display: block;
    }

    &__item {
        @extend %dfsb;
        height: 36px;
        padding: 7px 11px 8px;
        background-color: #fff;
        color: #5e6476;
        transition: color .3s linear, background-color .3s linear;

        &:hover {
            color: $colorWhite;
            background-color: $colorBlue3;
        }

        span {
            display: inline-block;
            vertical-align: middle;
            font-size: 12px;
            font-weight: 400;
            line-height: 21px;
            cursor: pointer;
        }
    }

    &__separator {
        height: 1px;
        background-color: #dee4ec;
    }
}