
.main-container {
    // padding: 18px 0 12px;
    padding: 20px 25px;
    // background: rgba(255, 255, 255, 0.2);
    background-color: var(--light-bg);
    border: 0.5px solid rgba(249, 249, 249, 0.6);
    box-shadow: inset -30px -30px 30px rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    // margin: 0 0 20px;
    max-height: 670px;

    .linear__upload {
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0;
        z-index: 9;
        width: 100%;
        height: 100%;
    }
    .download__just {
        // position: absolute;
        top: 0;
        min-height: 398px;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 10px;
        overflow: hidden;
        background: rgba(58, 58, 58, 0.65);
        background: rgba(58, 58, 58, 1);
        background-color: #7c7d7e;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        z-index: 2;
        color: #fff;
        span {
            color: #fff;

        }
        .icon {
            font-size: 40px;
            margin-bottom: 20px;
        }
    }
    &__head {
        @extend %dffs;
        height: 40px;
        min-height: 29px;
        padding: 20px;
        // background-color: $colorLight;

        .list__col:nth-child(5) {
            text-align: left;
        }
    }

    &__title {
        font-weight: bold;
        font-size: 24px;
        line-height: 29px;
        letter-spacing: 0.04em;
        color: #333333;
    }

    &__subtitle {
        color: #5e6476;
        font-size: 14px;
        font-weight: 400;
        line-height: 21px;

        b {
            font-weight: 500;
        }

        &--sms {
            margin: 20px 0 7px;
            font-size: 12px;
            font-weight: 500;
            color: #687189;
        }
    }

    &__body {
        padding: 11px 40px 20px 18px;

        p, span {
            font-size: 12px;
            font-weight: 400;
            line-height: 21px;
            color: #5e6476;
            opacity: 0.78;
            margin: 0;

            b {
                font-weight: 500;
            }
        }
    }

    &__context {
        padding: 16px 20px 24px;
        border-radius: 4px;
        border: 1px solid #e0e3ea;
        margin: 5px 0 10px;
        position: relative;
    }

    &__context--expanded {
        height: 40px;
        overflow: hidden;
    }

    &__expanded-button {
        z-index: 10;
        cursor: pointer;
        position: absolute;
        right: 8px;
        top: 8px;
        background: #4b5eff;
        color: white;
        width: 24px;
        height: 24px;
        border-radius: 6px;
    }

    &__mask {
        z-index: 9;
        position: absolute;
        width: 100%;
        height: 40px;
        background: white;
        top: 12px;
        left: 12px;
        cursor: pointer;
    }

    &__row,
    &__select-group {
        @extend %dffs;
        flex-wrap: wrap;

        .select-gray {
            margin: 0 0 0 12px;
        }
    }

    &__col-3 {
        width: 25%;
    }

    &__select-group {
        padding: 2px 12px 2px 0;
        margin: 0 16px 0 28px;

        &.is-warning {
            border-radius: 4px;
            border: 1px solid red;
        }
    }

    &__footer {
        padding: 10px 0 0;
    }

    &__footer-buttons {
        padding: 10px 0 0;
    }
}
[data-theme="night"] {
    .btn--out {
        color: #f2f2f2;
    }
    .form-link {
        color: #f2f2f2;
    }
    .form-link-line {
        color: #e0e0e0;
    }
    .custom-input {
        background-color: #828282;
        color: #bdbdbd;
        &::placeholder {
            color: #bdbdbd;
        }
    }
    .modal__title {
        color: #495cff;
    }
    .download__nav-link.active {
        color: #231f20;
    }
    .data__toggle {
        background-color: #333333;
        border: 0.5px solid #231f20;
        &.active {
            background: rgba(34, 72, 255, 0.4);
            box-shadow: 0px 15px 15px rgba(10, 22, 21, 0.1);
        }
    }
    .data__aside-link {
        &:hover {
            background-color: rgba($color: #231f20, $alpha: 0.6);
        }
        &.active {
            background-color: rgba($color: #231f20, $alpha: 1);
            &:hover {
                background-color: rgba($color: #231f20, $alpha: 1);
            }
        }
    }
    .data__aside-header {
        background-color: #312f2d;
    }
    .download__info-inner,
    .download__content {
        background: rgba(45, 44, 43, 0.6);
    }
    .download__file-item {
        background-color: #333;
    }
    .download__file-item.downloaded {
        background-color: #828282;
    }
    .download__files-plus {
        color: #495cff;
    }
    .download__info-title {
        color: #f2f2f2;
    }
    .download__just {
        background: #4f4f4f;
    }
    .download__api-link {
        color: #e0e0e0;
    }
    .data__aside-header .dropdown {
        background-color: #4f4f4f;
        color: #f2f2f2;
    }
    .upload__header-items .datepicker-input,
    .upload__header-items .dropdown {
        background-color: #828282;
        color: #f2f2f2;
    }
    .integration__progress {
        background-color: #4f4f4f;
    }
    .integration__nav {
        border: 0;
        background: #333333;
        box-shadow: none;
    }
    .download__api-link,
    .integration__api-link {
        color: #e0e0e0;
    }
    .download__api-link.active,
    .integration__api-link.active {
        color: #495cff;
    }
    .download__type-btn.active {
        color: #21317a;
    }
    .datepicker__wrapper {
        background-color: #828282;
        border: 0;
        color: #f2f2f2;
    }
    .datepicker table th {
        color: rgba(242, 242, 242, 0.543337);
    }
    .datepicker__day {
        color: #f2f2f2;
    }
    .datepicker__day.is-disabled,
    .datepicker__day.is-otherMonth {
        color: rgba(242, 242, 242, 0.543337);
    }
    .instruction__text {
        p {
            color: #f2f2f2;
        }
    }
    .download__nav .dropdown{
        background-color: #231F20
        ;
    }
}