.pag {
    @extend %dffs;
    height: 100%;
    padding: 8px;
    margin: 0 100px 0 0;
    // background-color: rgba(#fff9e0, 0.3);

    li {
        list-style: none;
        font-size: 12px;
        font-weight: 700;
        line-height: 21px;
        color: $colorGray3;
        margin: 0 10px;
        transition: color .3s linear;

        &:not(.pag__current) {
            cursor: pointer;
            opacity: 0.5;
        }
    }

    &__prev,
    &__next,
    &__prev-one,
    &__next-one {
        position: relative;
        width: 7px;
        height: 7px;

        &:after {
            content: '';
            position: absolute;
            top: 50%;
            left: 50%;
            width: 5px;
            height: 5px;
            border-left: 1px solid #000;
            border-bottom: 1px solid #000;
            transform: rotate(45deg) translate3d(-50%, -22%, 0);
        }

        &:not(.active) {
            pointer-events: none;
        }
    }

    &__prev,
    &__next {

        &:after {
            left: 30%;
        }

        &:before {
            content: '';
            position: absolute;
            top: 50%;
            left: 70%;
            width: 5px;
            height: 5px;
            border-left: 1px solid #000;
            border-bottom: 1px solid #000;
            transform: rotate(45deg) translate3d(-50%, -22%, 0);
        }
    }

    &__next-one,
    &__next {
        transform: rotate(180deg);
    }
}
