.scroll {

    &__wrapper {
        position: relative;
        overflow: hidden;
    }

    &__outer {
        // width: calc(100% + 21px);
        // height: var(--scroll-height, 400px);
        overflow-y: auto;
    }

    &__inner {
        // width: calc(100% - 21px);
        width: 100%;

        &.has-scroll {
            width: 100%;
        }
    }

    &__bar {
        position: absolute;
        top: 1px;
        right: 10px;
        width: 2px;
        height: calc(100% - 46px);
    }

    &__bar-runner {
        position: absolute;
        left: 0;
        width: 2px;
        height: 44px;
        border-radius: 2px;
        background-color: #aab6c8;
    }
}