.select-numbers {
    position: relative;
    width: 45px;
    height: 30px;
    cursor: pointer;

    &__wrapper {
        @extend %dfsb;
    }

    &__title {
        @extend %dib;
        color: #949baf;
        font-size: 12px;
        font-weight: 400;
        line-height: 21px;
        margin: 0 5px 0 0;
    }

    span {
        color: #41485d;
        font-size: 12px;
        font-weight: 500;
        line-height: 21px;
    }

    &__head {
        position: relative;
        @extend %dffs;
        height: 100%;
        width: 100%;
        padding: 0 12px 0 6px;
        background-color: #ffffff;
        border-radius: 6px;
        overflow: hidden;

        &:after {
            content: '';
            position: absolute;
            top: 50%;
            right: 3px;
            width: 0;
            height: 0;
            border-top: 4px solid #5e6476;
            border-left: 3.2px solid transparent;
            border-right: 3.2px solid transparent;
            transform: translate3d(-50%, -50%, 0);
            transition: transform .3s ease-in-out;
        }

        &.is-open {
            border-radius: 6px 6px 0 0;

            &:after {
                transform: translate3d(-50%, -50%, 0) scale(1, -1);
            }
        }
    }

    &__body {
        position: absolute;
        z-index: 10;
        top: 30px;
        left: 0;
        width: 100%;
        background-color: #fff;
        border-radius: 0 0 6px 6px;
        overflow: hidden;
    }

    &__item {
        @extend %dffs;
        height: 30px;
        padding: 0 12px 0 6px;
        transition: background-color .3s linear;

        &:hover {
            background-color: #bdc8d9;
        }
    }
}