.set-form {
    width: 100%;
    padding: 0 18px;
    overflow: visible;

    &__row {
        @extend %dfsb;
        padding: 10px 28px 10px 4px;

        &.has-notify {
            margin-bottom: 21px;

            .set-form__input {
                position: relative;

                .set-form__input-text {
                    position: absolute;
                    top: 100%;
                    left: 0;
                    width: 100%;
                }
            }
        }
    }

    &__inputs {
        @extend %dfsb;
        width: 50%;
        max-width: 439px;

        .search-input {

            &:first-child {
                flex: 3
            }

            &:last-child {
                flex: 2
            }
        }
    }

    &__input {
        position: relative;
        display: flex;
        align-items: flex-start;
        flex-wrap: wrap;
        width: 50%;
        max-width: 439px;

        >div:not(.set-form__input-text_right) {
            width: 100%;
        }
    }

    &__input-text {
        font-size: 12px;
        font-weight: 400;
        line-height: 21px;
        opacity: 0.5;
        color: #6f788f;
    }

    &__input--text_right {
        width: calc(100% - 250px);
        max-width: 100%;

        .search-input {
            width: 439px;
            max-width: 439px;
        }
    }

    &__input-text_right {
        position: absolute;
        top: 0;
        left: 455px;
        display: flex;
        align-items: center;
        height: 100%;
        padding: 0 20px;
        font-size: 14px;
        font-weight: 400;
        line-height: 21px;
        border-radius: 8px;
        background-color: #f2f6fc;
        color: #5e6476;
        transition: opacity .3s linear;

        &:before {
            content: '';
            position: absolute;
            top: 0;
            left: -8px;
            width: 8px;
            height: 100%;
            background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAsAAAANCAMAAABIK2QJAAAAM1BMVEUAAAD09/z09/zz9//z9v3y9vzz9v3////y9/3y9v30+v/z9/z0+P3z9/zy9/3y9/3z9v0JHyW6AAAAEXRSTlMAYF9Az/+QEJ/vML9wwPCg0I1vXZMAAAA+SURBVAjXdco5AoAgEMDAIAYUD/z/a21WsTHVFIEoTY/yrAWAuqgKkFbDbTNi9w1//H1oxzCkc5jahyFfWm6gxgJQroxBoAAAAABJRU5ErkJggg==) center center no-repeat;
        }
    }

    &__label {
        width: calc(50% - 9px);
        max-width: 250px;
        margin: 0 9px 0 0;
        font-size: 12px;
        font-weight: 500;
        line-height: 21px;
        color: $colorGray15;

        &.necessarily {
            // transform: translate3d(0, -10px, 0);

            &::after {
                content: '*';
                display: inline-block;
                padding: 0 0 0 3px;
                color: #ff3e3e;
                transform: translate3d(0, -2px, 0);
            }
        }
    }

    &__footer {
        @extend %dffs;
    }
}