$offset: 5px;

.content {
  background: #E0E0E0;
  border: 0.5px solid #BDBDBD;
  box-sizing: border-box;
  border-radius: 5px;

  padding: 6px 10px;

  font-size: 10px;
  line-height: 12px;
  letter-spacing: 0.04em;

  color: #4F4F4F;

  text-align: center;

  white-space: nowrap;

  user-select: none;
}

.arrow {
  position: absolute;
  height: 10px;
  width: 10px;

  fill: #E0E0E0;
}

.topPosition {
  .arrow {
    bottom: -5px;
  }
}

.bottomPosition {
  .arrow {
    top: -5px;
    transform: rotate(180deg);
  }
}

.topPosition,
.bottomPosition {
  &.startAlign {
    .arrow {
      left: 11px;
    }
  }
  &.centerAlign {
    .arrow {
      left: 50%;
      transform: translateX(-50%);
    }
  }
  &.endAlign {
    .arrow {
      right: 11px;
    }
  }
}

.leftPosition {
  .arrow {
    right: -5px;
    transform: rotate(90deg);
  }
}

.rightPosition {
  .arrow {
    left: -5px;
    transform: rotate(-90deg);
  }
}

.leftPosition,
.rightPosition {
  &.startAlign {
    .arrow {
      top: 11px;
    }
  }
  &.centerAlign {
    &.leftPosition {
      .arrow {
        transform: translateY(-50%) rotate(-90deg);
      }
    }
    &.right {
      .arrow {
        transform: translateY(-50%) rotate(90deg);
      }
    }
    .arrow {
      top: 50%;
    }
  }
  &.endAlign {
    .arrow {
      bottom: 11px;
    }
  }
}
