$offset: 5px;

.wrapper {
  position: relative;

  &:not(:hover) {
    .tooltip {
      display: none;
    }
  }
}

.tooltip {
  position: absolute;
}


.topPosition {
  bottom: calc(100% + #{$offset});
}

.bottomPosition {
  top: calc(100% + #{$offset});
}

.topPosition,
.bottomPosition {
  &.startAlign {
    left: #{-$offset};
  }
  &.centerAlign {
    left: 50%;
    transform: translateX(-50%);
  }
  &.endAlign {
    right: #{-$offset};
  }
}

.leftPosition {
  right: calc(100% + #{$offset});
}

.rightPosition {
  left: calc(100% + #{$offset});

  .arrow {
    right: -5px;
    transform: rotate(-90deg);
  }
}

.leftPosition,
.rightPosition {
  &.startAlign {
    top: #{-$offset};
    .arrow {
      top: 11px;
    }
  }
  &.centerAlign {
    top: 50%;
    transform: translateY(-50%);
    .arrow {
      top: 50%;
      transform: translateY(-50%);
    }
  }
  &.endAlign {
    bottom: #{-$offset};
    .arrow {
      bottom: 11px;
    }
  }
}
