.tab {

}

.header {
  display: flex;
  align-items: flex-start;
}

.title {
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: #21317A;
  flex-grow: 1;
}

.add {
  height: 60px;
  padding: 0 20px;
}

.table {
  margin-top: 60px;
  width: 100%;
  table-layout: fixed;

  thead {
    th {
      font-weight: 500;
      font-size: 12px;
      line-height: 15px;
      letter-spacing: 0.04em;
      color: #000000;
      text-align: left;
      padding-bottom: 20px;
      &:first-child {
        padding-left: 0;
      }
      &:last-child {
        padding-right: 0;
        width: 85px;
      }
    }
  }

  tbody {
    tr {
      td {
        padding: 20px 10px;
        border-top: 1px solid #e0e0e0;
        &:first-child {
          padding-left: 0;
        }
        &:last-child {
          padding-right: 0;
        }
      }
    }
  }
}

.actions {
  display: flex;
  align-items: center;
}

.action {
  height: 15px;
  width: 15px;
  color: #828282;

  cursor: pointer;

  &:not(:first-child) {
    margin-left: 15px;
  }

  &.edit {
    color: #21317A;
  }

  &.submit {
    color: #07D6C1;
  }

  &.remove {
    color: #ff0000;
  }
}

.fields {
  display: flex;
  align-items: center;
}

.field {
  flex-grow: 1;
}
