.enterActive,
.leaveActive {
  transition: .25s ease opacity;

  [data-role="dialog-content"] {
    transition: .25s ease transform;
  }
}

.enter,
.leaveTo {
  opacity: 0;

  [data-role="dialog-content"] {
    transform: translateY(-30px);
  }
}
