html {
    line-height: 1.21;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    text-rendering: optimizeLegibility;
    scroll-behavior: smooth;
}
body {
    font-family: $font-family-base;
    font-size: 12px;
    font-weight: 500;
    color: var(--text-color);
    backface-visibility: hidden;
    -webkit-touch-callout: none;
    -webkit-font-smoothing: antialiased;
    -webkit-overflow-scrolling: touch;
    -moz-osx-font-smoothing: grayscale;
    margin: 0;
    min-width: 280px;
}

.page {
    position: relative;
    min-height: 100vh;
    min-height: calc(var(--vh, 1vh) * 100);
    background-color: var(--page-bg);
    &::after {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background-image: url('assets/images/bg.jpg');
        background-position: center;
        background-size: cover;
        z-index: -1;
    }
    input:-webkit-autofill,
    input:-webkit-autofill:hover,
    input:-webkit-autofill:focus,
    input:-webkit-autofill:active {
        font-size: inherit;
        transition: color 90000s ease-in-out 0s, background-color 90000s ease-in-out 0s;
    }
    .logo{
        max-width: 368px;
        width: 100%;
        height: auto;
    }

    .icon {
        width: 1em;
        height: 1em;
        display: inline-block;
        vertical-align: middle;
        stroke-width: 0;
        stroke: currentColor;
        fill: currentColor;
        font-size: inherit;
    }

    .sign-in {
   
        text-align: right;
        padding: 20px;
        background-position: left bottom;
        //background-size: auto 55%;
        background-size: auto 75vh;
        background-repeat: no-repeat;
        background-image: url('assets/images/robot-bg.png');

        &__inner {
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
            flex-direction: column;
            min-height: calc(100vh - 60px);
            min-height: calc((var(--vh, 1vh) * 100) - 60px);
        }

        &__container {
            max-width: 432px;
        }

        &__welcome {
            font-weight: 700;
            color: #fff;
            font-size: 24px;
        
            letter-spacing: 0.04em;
            margin: 20px 0 40px;
        }

        &__block {
            padding: 0 30px 45px;
            border-radius: 10px;
            overflow: hidden;
            min-height: 455px;
            box-shadow: 0px 15px 15px rgba(0, 0, 0, 0.15);
            background-position: left bottom;
            background-size: 0 0;
            background-repeat: no-repeat;
            background-color: var(--sign-bg);
            position: relative;
            // &::after {
            //     content: "";
            //     position: absolute;
            //     width: 100%;
            //     height: 100%;
            //     top: 0;
            //     left: 0;
            //     z-index: 1;
            // }
        }
        &-password {
            .tab-content__form {
                min-height: 455px;
            }
            .form-content-welcome {
                margin-top: auto;
            }
        }

        &__form-inner {
            position: relative;
            z-index: 2;
        }

        .form-content-welcome {
            font-size: 18px;
            font-weight: 600;
            color: #495cff;
            padding: 20px 0 30px;
            span {
                display: block;
                font-weight: 300;
                font-size: 16px;
                color: var(--text-color);
                margin-top: 10px;
            }
        }

        &__tab {
            display: flex;
            flex-direction: column;
            min-height: 455px;
            .tab-content {
                flex: 1 1 auto;
                flex-direction: column;
                justify-content: center;
                &.active {
                    display: flex;
                }
            }
        }

        .tab-content__form {
            flex: 1 1 auto;
            display: flex;
            flex-direction: column;
        }

        &__footer {
            display: flex;
            align-items: flex-start;
            justify-content: center;
            flex-wrap: wrap;
            padding: 20px 0 12px;
            margin-top: auto;
            margin-left: auto;
            &-item {
                padding: 8px 5px;
            }
            &-link {
                font-size: 16px;
                color: #fff;
                text-decoration: underline;
            }
        }

        .form-content-info{
            font-weight: 400;
            font-size: 14px;
            padding: 15px 0;
            p {
                margin: 0;
            }
        }
        .submit-numbers{
            padding-top: 40px;
            padding-bottom: 30px;
        }

        &-submit-cancel{
            margin-top: 20px;
        }

        &__welcome-opacity{
            opacity: 0;
            max-width: 420px;
        }
        .loader-finish{
            .logo{
               
                opacity: 0;
            }
            &.active{
               
                .logo{
                   
                    animation: opacity 3s ease-in 0s 1 forwards;
                }
            }
        }

        &__welcome-opacity.show{

            opacity: 0;
            animation: opacity 3.5s ease-in 0s 1 forwards;
         }
         @keyframes opacity {
             0%{
                 opacity: 0;
             }
             50%{
                 opacity: 0;
             }
             100%{
                 opacity: 1;
             }
         }
    }


    .form-group {
        margin-bottom: 20px;
        position: relative;
    }
    .form-btns {
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
        justify-content: space-between;
        padding-top: 20px;
        margin-bottom: 0;
        margin-top: auto;
        .btn {
            flex: 0 0 45%;
            max-width: 45%;
            margin: 0 auto 5px;
        }
    }
    
    .custom-input {
        font-weight: 500;
        font-size: 12px;
        outline: none;
        color: #828282;
        background-color: transparent;
        padding: 10px;
        width: 100%;
        border-width: 0 0 1px 0;
        border-color: #bdbdbd;
        border-style: solid;
        &.error {
            border-color: #ff7d7d;
        }   
    }
    .error-text {
        font-weight: 500;
        color: #ff7d7d;
        text-align: left;
        display: block;
        padding: 3px 10px 0;
        &.empty {
            height: 17px;
        }
    }
    .toggle-password {
        position: absolute;
        top: 50%;
        right: 5px;
        transform: translateY(-50%);
        font-size: 20px;
        cursor: pointer;
        display: inline-flex;
        margin-top: -7px;
        &.active{
            color: #495CFF;
        }
    }
    .checkbox-custom {
        &__input {
            display: none;
            &:checked {
                + .checkbox-custom__label::before {
                    transform: scale(1);
                }
                + .checkbox-custom__label::after {
                    background-color: #cbd0e7;
                }
            }
        }
        &__label {
            position: relative;
            padding-left: 25px;
            color: var(--text-color);
            a {
                color: inherit;
                text-decoration: underline;
            }
            &::after,
            &::before {
                content: "";
                position: absolute;
            }
            &::after {
                top: 0;
                left: 0;
                width: 15px;
                height: 15px;
                border-radius: 3px;
                background-color: #d2d2d2;
                transition: background-color 0.1s linear;
                cursor: pointer;
            }
            &::before {
                width: 9px;
                height: 9px;
                border-radius: 9px;
                background-color: #21317a;
                top: 3px;
                left: 3px;
                z-index: 2;
                transform: scale(0);
                transition: transform 0.19s linear;
            }
        }
    }

    
    .tab {
        &-nav {
            margin: 0 -30px;
            display: flex;
            align-items: center;
            position: relative;
            background-color: transparent;
            border-bottom: 1px solid #495cff;
            z-index: 1;
            span {
                position: absolute;
                bottom: 0;
                left: 0;
                width: 50%;
                height: 100%;
                background-color: #495cff;
                transition: transform 0.19s ease-in;
                transform: translateX(0);
                z-index: -1;
            }
        }

        &-link {
            line-height: 59px;
            max-width: 50%;
            flex: 0 0 50%;
            text-align: center;
            color: var(--text-color);
            font-size: 18px;
            font-weight: 600;
            transition: color 0.29s ease-in;
            max-height: 60px;
            overflow: auto;
            &.active {
                color: #ffffff;
            }
            &:nth-child(2).active {
                ~ span {
                    transform: translateX(100%);
                }
            }
        }

        &-content {
            &[data-tab-content] {
                display: none;
                &.active {
                    display: block;
                }
            }
        }

       
    }

    .forgot {
        &-password {
            text-decoration: underline;
            font-size: 14px;
            cursor: pointer;
            &:hover {
                text-decoration: none;
            }
        }
        
        &-form {
            display: none;
            &.active {
                display: flex;
            }
        }
    }

    .hide {
        display: none !important;
    }
    .input-next {
        border: 1px solid #495cff;
        width: 40px;
        height: 40px;
        font-weight: 600;
        font-size: 16px;
        text-align: center;
        background-color: transparent;
        color: var(--text-color);
        border-radius: 10px;
        + .input-next {
            margin-left: 7px;
        }
    }
}

@media screen and (max-width: 1280px) {
    .sign-in {
        background-size: auto 760px;
        background-position-x: -110px;}
        .sign-in__footer{
            margin: 0;
            flex-direction: column;
            width: 100%;
    align-items: flex-end;
        }
}
@media screen and (max-width: 1099px) {
    .sign-in {
        background-size: auto 500px;
        background-position-x: -62px;
    }
    .sign-in__footer{
        margin: 0;
        flex-direction: column;
        width: auto;
align-items: center;
    }
}
@media screen and (max-width: 992px) {
    .sign-in{
        background-size: 0 0;
    }
    .sign-in__block{
        background-size: 100% auto;
        padding: 0 10px 35px;
    }
    
}
@media screen and (max-width: 430px) {
    .sign-in__welcome{
        font-size: 16px;
    }
    .sign-in__footer-link {
        font-size: 12px;}
        .logo{
            max-width: 162px;
        }
        .form-btns{
            flex-direction: column;
            .btn{
                &:first-child{
                    margin-bottom: 20px;
                }
            }
        }
}
@media screen and (max-height: 500px) {
}
@media (hover: none) {
}

// .auth {
//     position: relative;
//     min-height: calc(100vh + 127px);

//     &__footer {
//         position: absolute;
//         bottom: 0;
//         left: 0;
//         @extend %dfc;
//         width: 100%;
//         height: 127px;

//         @include mqh(850) {
//             height: 90px;
//         }

//         @include mqh(765) {
//             height: 60px;
//         }
//     }

//     &__footer-links {
//         @extend %dfsb;
//         width: 695px;
//         max-width: 95%;
//     }

//     &__footer-link {
//         font-size: 14px;
//         font-weight: 400;
//         line-height: 21px;
//         color: $colorWhite;
//         opacity: 0.5;
//         text-decoration: none;
//     }
// }
.theme-changer {
    display: inline-block;
    position: relative;
    white-space: nowrap;
    width: 30px;
    height: 15px;
}
.theme-changer > input {
    opacity: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    cursor: pointer;
    top: 0;
    left: 0;
    &:checked {
        & + label {
            &::after {
                background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='%23ffffff' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.96388 15.2086C11.7063 13.0421 12.9891 8.25509 10.8312 4.50751C10.3918 3.74266 9.82494 3.05835 9.15529 2.48422C12.2533 2.45421 15.0355 4.37562 16.1046 7.28351C17.1735 10.1914 16.2985 13.4574 13.9187 15.4412C11.539 17.4249 8.16885 17.6979 5.50084 16.1228C6.36794 15.9606 7.20079 15.6514 7.96388 15.2086Z'/%3E%3C/svg%3E%0A");
                background-color: #00082f;
                transform: translate(22px, -50%);
            }
        }
    }
}
.theme-changer > label {
    cursor: pointer;
    display: block;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    //background-color: red;
    border-radius: 10px;
    // &::before,
    &::after {
        content: "";
        position: absolute;
        top: 50%;
        left: -5px;
        transform: translateY(-50%);
        height: 17px;
        width: 17px;
        background-color: #ffffff;
        border-radius: 50%;
        box-shadow: 3px 0px 10px rgba(0, 0, 0, 0.47);
        background-image: url("data:image/svg+xml,%3Csvg width='13' height='14' viewBox='0 0 13 14' fill='%23828282' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8.80434 4.51265C8.21968 3.92799 7.39429 3.54968 6.50011 3.54968C5.60593 3.54968 4.78053 3.91079 4.19587 4.51265C3.61122 5.0973 3.23291 5.9227 3.23291 6.81688C3.23291 7.71106 3.61122 8.53646 4.19587 9.12111C4.78053 9.70577 5.60593 10.0841 6.50011 10.0841C7.39429 10.0841 8.21968 9.72296 8.80434 9.12111C9.389 8.53646 9.7673 7.71106 9.7673 6.81688C9.7673 5.9227 9.40619 5.0973 8.80434 4.51265Z' /%3E%3Cpath d='M6.49982 2.53515C6.74057 2.53515 6.94692 2.3288 6.94692 2.08806V0.763984C6.94692 0.523244 6.74057 0.316895 6.49982 0.316895C6.25908 0.316895 6.05273 0.523244 6.05273 0.763984V2.08806C6.05273 2.3288 6.25908 2.53515 6.49982 2.53515Z' /%3E%3Cpath d='M10.1626 3.79046L11.1083 2.84469C11.2803 2.67274 11.2803 2.39761 11.1083 2.22565C10.9364 2.05369 10.6612 2.05369 10.4893 2.22565L9.54352 3.17141C9.37156 3.34337 9.37156 3.6185 9.54352 3.79046C9.69828 3.96242 9.97341 3.96242 10.1626 3.79046Z' /%3E%3Cpath d='M12.5529 6.36975H11.2288C10.9881 6.36975 10.7817 6.5761 10.7817 6.81684C10.7817 7.05758 10.9881 7.26393 11.2288 7.26393H12.5529C12.7936 7.26393 13 7.05758 13 6.81684C13 6.5761 12.7936 6.36975 12.5529 6.36975Z' /%3E%3Cpath d='M10.1455 9.84332C9.97352 9.67137 9.69839 9.67137 9.52643 9.84332C9.35447 10.0153 9.35447 10.2904 9.52643 10.4624L10.4722 11.4081C10.6442 11.5801 10.9193 11.5801 11.0912 11.4081C11.2632 11.2362 11.2632 10.961 11.0912 10.7891L10.1455 9.84332Z' /%3E%3Cpath d='M6.49982 11.0986C6.25908 11.0986 6.05273 11.305 6.05273 11.5457V12.8698C6.05273 13.1105 6.25908 13.3169 6.49982 13.3169C6.74057 13.3169 6.94692 13.1105 6.94692 12.8698V11.5457C6.94692 11.305 6.74057 11.0986 6.49982 11.0986Z' /%3E%3Cpath d='M2.83743 9.84332L1.89166 10.7891C1.71971 10.961 1.71971 11.2362 1.89166 11.4081C2.06362 11.5801 2.33875 11.5801 2.51071 11.4081L3.45648 10.4624C3.62844 10.2904 3.62844 10.0153 3.45648 9.84332C3.30172 9.67137 3.02658 9.67137 2.83743 9.84332Z' /%3E%3Cpath d='M2.21825 6.81684C2.21825 6.5761 2.0119 6.36975 1.77116 6.36975H0.44709C0.206349 6.36975 0 6.5761 0 6.81684C0 7.05758 0.206349 7.26393 0.44709 7.26393H1.77116C2.0119 7.26393 2.21825 7.05758 2.21825 6.81684Z' /%3E%3Cpath d='M2.83743 3.79046C3.00939 3.96242 3.28452 3.96242 3.45648 3.79046C3.62844 3.6185 3.62844 3.34337 3.45648 3.17141L2.51071 2.22565C2.33875 2.05369 2.06362 2.05369 1.89166 2.22565C1.71971 2.39761 1.71971 2.67274 1.89166 2.84469L2.83743 3.79046Z' /%3E%3C/svg%3E%0A");
        background-repeat: no-repeat;
        background-position: center;
        transition: transform 0.19s linear, background-color 0.2s linear;
    }
}