// Кнопки навигации по судебным модулям
.debtors__page-btn-wrapper {
    .btngroup__item.active {
        background-color: $colorBlue;
    }
    .btngroup__item {
        width: 150px;
        height: 60px;
            span {
                margin: 0;
                text-align: center;
            }
    }
    
} 