.employees {
    &__table-row{
        display: grid;
        grid-template-columns: repeat(5, 4fr) 1fr;
        // background-color: $colorLight;
        padding: 0.5em;
        span {
            font-size: 11px;
            font-weight: 500;
            line-height: 21px;
            color: $colorGray16;
        }
    }
}
.employer{ 
    &__personal-data{
        width: 808px;
        display: grid;
        grid-template-columns: repeat(3, 2fr) 1fr;
        padding: 0 10px;
    }
    &__data-input {
        display: flex;
        flex-direction: column;
        padding: 10px;
        label {
            margin-bottom: 10px;
        }
        input {
            background: #E0E0E0;
            width: 100%;
            height: 40px;
            border-radius: 10px;
            border: none;
            padding: 0 0.5em;
        }
    }
}