.tabs {
  display: flex;
}

.tab {
  user-select: none;
}

.primary {
  .tab {
    padding: 13px 24px;
    border-radius: 10px;

    white-space: pre-line;

    color: #4F4F4F;
    background: #F9FBFD;

    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    letter-spacing: 0.02em;
    text-decoration: none;

    display: flex;
    justify-content: center;
    align-items: center;


    &.active {
      background: #21317A;
      box-shadow: 0 15px 15px rgba(0, 0, 0, 0.15);
      color: #F2F2F2;
    }

    &:not(:first-child) {
      margin-left: 10px;
    }
  }
}

.secondary {

  .tab {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 14px 10px;
    border-radius: 10px;

    color: #4F4F4F;

    background: rgba(255, 255, 255, 0.4);
    border: 0.5px solid #F9F9F9;
    box-sizing: border-box;

    text-decoration: none;

    width: 180px;
    min-height: 80px;

    &.active {
      border-color: transparent;
      background: rgba(34, 72, 255, 0.4);
      box-shadow: 0px 15px 15px rgba(10, 22, 21, 0.1), inset -20px 20px 34px rgba(255, 255, 255, 0.1);
      color: white;
    }

    &:not(:first-child) {
      margin-left: 20px;
    }
  }

  .icon {
    height: 24px;
    width: 24px;
    margin-bottom: 10px;
  }

  .label {
    margin-top: auto;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.02em;
    align-self: normal;
    text-align: center;
  }
}

.tertiary {
  .tab {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 12px 20px;
    border-radius: 10px;

    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.02em;

    color: #000000;
    box-shadow: 0 0 0 1px #21317A;

    box-sizing: border-box;
    text-decoration: none;

    &.active {
      background: #CAE3F3;
      box-shadow: 0px 15px 15px rgba(0, 0, 0, 0.15);
      border-radius: 10px;
    }

    &:not(:first-child) {
      margin-left: 20px;
    }
  }
}
