.examples {
  display: flex;
  align-items: center;
  margin: 0 -15px;
}

.example {
  margin: 0 15px;

  height: 60px;
  width: 60px;

  background: #FFFFFF;
  border: 0.5px solid #BDBDBD;
  border-radius: 10px;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  letter-spacing: 0.02em;
  color: #828282;

  text-decoration: none;

  &:hover {
    background: #5080CD;
    box-shadow: 0px 15px 15px rgba(0, 0, 0, 0.15);
    color: #FFFFFF;
    border-color: transparent;
  }
}

.type {
  text-transform: uppercase;
}
