<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>URROBOT - restore password code</title>
</head>
<body>
        <div class="template__wrapper">
            <p>
                Никому не сообщайте этот код!
            </p>
            <p>
                Ваш код: <span style="background: #00BCD4;" title="Это переменная Код смс восстановления пароля"> #3 </span>
            </p>
        </div>
</body>
</html>