<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>URROBOT - signup code</title>
</head>
<body>
        <div class="template__wrapper">
            <h3>Внимание!</h3>
            <p>
                У Вас сменился пароль, Если Вы его не меняли, просим перейти по ссылке <span style="background: #00BCD4;" title="Это переменная Ссылка на отмену нового пароля email"> #5 </span>
                <br>
                Если же пароль сменили вы, то просто проигнорируйте данное сообшение.
            </p>
        </div>
</body>
</html>