@import "~@/assets/utils";

.wrapper {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.label {
  @include subText;
  text-align: center;
  color: rgba(var(--table-color), 1);

  + .field {
    margin-top: rem(10px);
  }
}

.field {
  border-radius: 10px;
  overflow: hidden;

  position: relative;

  background: rgba(var(--input-bg), 1) no-repeat center;
  background-size: cover;

  &:hover {
    background-color: rgba(var(--input-bg), .7);
  }

  &:after {
    content: '';
    display: block;
    padding-bottom: 100%;
  }
}

.add, .icon {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  display: flex;
  align-items: center;
  justify-content: center;
}

.add {
  cursor: pointer;

  [data-role="icon"] {
    height: rem(24px);
    width: rem(24px);
  }

  color: rgba(var(--input-nobg-color), 1);
}

.icon {
  [data-role="icon"] {
    height: rem(36px);
    width: rem(36px);
    opacity: .2;
  }
}

.action {
  height: rem(24px);
  width: rem(24px);
  padding: rem(4px);

  cursor: pointer;

  position: absolute;

  --gap: #{rem(6px)};

  &.download {
    bottom: var(--gap);
    left: var(--gap);
    [data-role="icon"] {
      color: rgba(var(--green), 1);
    }
  }

  &.view {
    bottom: var(--gap);
    right: var(--gap);
    [data-role="icon"] {
      color: rgba(var(--purple), 1);
    }
  }

  &.edit {
    top: var(--gap);
    left: var(--gap);
    [data-role="icon"] {
      color: rgba(var(--blue), 1);
    }
  }

  &.remove {
    top: var(--gap);
    right: var(--gap);
    [data-role="icon"] {
      color: rgba(var(--red), 1);
    }
  }
}

.name,
.nameField {
  margin-top: rem(15px);
}

.name {
  @include input;
  color: rgba(var(--dark), 1);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  align-self: normal;
}
