.dialog {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 670px;
}

.title {
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.04em;
  color: #000000;

  display: flex;
  align-items: center;
}

.titleIcon {
  height: 44px;
  width: 44px;
  margin-right: 31px;
  color: #21317A;
}

.form {
  margin-top: 15px;
}

.description {
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.04em;
  color: #21317A;
}

.fields {
  margin-top: 25px;
}

.field {
  &:not(:first-child) {
    margin-top: 22px;
  }
}

.fieldLabel {
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.04em;
  color: #333333;

  span {
    color: #495CFF;
  }
}

.attention {
  margin-top: 31px;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: #FF7D7D;
}

.attentionHint {
  margin-top: 10px;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.04em;

  color: #000000;
}

.action {
  width: 180px;
  height: 70px;
  margin: 37px auto 0;
}

.hint {
  margin-top: 20px;
  font-weight: 300;
}
