.signer {
  display: grid;
  grid-template-areas: (
    'signer document'
    'signer_name document'
    'actions actions'
  );
  grid-template-columns: 1fr 82px;
  grid-gap: 20px 40px;
}

.field {
  display: flex;
  align-items: center;
}

.label {
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.04em;
  color: #000000;
  flex-grow: 1;
}

.value,
.input {
  width: percentage(350/570);
  flex-shrink: 0;
  margin-left: 20px;
}

.value {
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.04em;
  color: #4F4F4F;
}

.actions {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin: 0 -10px;

  grid-area: actions;
}

.action {
  margin: 0 10px;
  height: 40px;
  padding: 0 20px;
}

.document {
  grid-area: document;
}
