@import "~@/assets/utils";

.container {
  &.light {
    .articleLabel {
      color: rgba(var(--blue), 1);
    }
  }
  &.dark {
    .articleLabel {
      color: rgba(var(--purple), 1);
    }
  }
}

.title {
  @include heading(true);
  color: rgba(var(--dark), 1);
  white-space: pre-line;

  display: flex;
  align-items: center;
}

.sign {
  margin-left: auto;
  padding: rem(10px) rem(15px);
}

.articles {
  margin-top: rem(60px);
}

.article {
  display: grid;
  grid-template-columns: 220fr 794fr;
  grid-gap: rem(60px);

  &:not(:first-child) {
    margin-top: rem(60px);
  }
}

.articleLabel {
  @include caption;
  font-weight: 500;
  text-transform: uppercase;
}

.articleBody {
  @include subText;
  line-height: rem(19px);
  color: rgba(var(--dark), 1);
  white-space: pre-line;

  max-width: rem(630px);

  a {
    text-decoration: underline;
    cursor: pointer;
    color: rgba(var(--blue-3), 1);
  }
}

.templates {
  margin-top: rem(20px);
}
