@import "./variables";
@import "./mixins";

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
  font: 400 $baseFontSize 'Inter', sans-serif;
  height: 100vh;
  overflow: hidden;
}
