@import "functions";

$baseFontSize: 16px;

$color: #0a0e20;

$black: #000000;
$dark: #333333;
$dark-2: #00082F;
$dark-3: #455159;
$purple: #495CFF;
$purple-2: #7D9AEB;
$blue: #21317A;
$blue-2: #121D4D;
$blue-3: #5080CD;
$blue-4: #2248ff;
$ash-gray: #CBD0E7;
$gray-1: #D2D2D2;
$gray-2: #4F4F4F;
$gray-3: #828282;
$gray-4: #BDBDBD;
$gray-5: #E0E0E0;
$gray-6: #F2F2F2;
$gray-7: #F9F9F9;
$gray-8: #FAFAFA;
$gray-9: #F9FBFD;
$dialog-backdrop: #00082f;
$red: #FF7D7D;
$orange: #ffad3c;
$green: #009688;
$white: #fff;
$lightblue: #B8D7EB;
$lightblue-2: #CAE3F3;
$lightblue-3: #389ee0;
