@import "../sign";

.page {
  margin-top: 0;
  padding-top: rem(40px);
}

.subTitle {
  white-space: pre-line;
}

.form {
  margin-top: rem(44px);
}

.actions {
  margin-top: auto;
  display: flex;
  justify-content: center;
  height: rem(60px);
}

.action {
  flex-basis: auto;
  width: rem(160px);
}
