.form {
  padding: 0 20px 40px;
}

.headline {
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: #21317A;
}

.block {
  border-top: 1px solid #E0E0E0;
  margin-top: 20px;
  padding-top: 20px;
}

.title {
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.04em;
  color: #000000;
}

.fields {
  margin-top: 25px;
}

.field {
  display: grid;
  grid-template-columns: 200px 1fr;
  grid-gap: 50px;
  &:not(:first-child) {
    margin-top: 20px;
  }

  &.editingField {
    .label {
      padding-top: 15px;
    }
  }
}

.label {
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.04em;
  color: #000000;

  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.value {
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.04em;
  color: #4F4F4F;

  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.actions {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 30px -10px 0;
}

.action {
  margin: 0 10px;

  height: 60px;
  width: 170px;
}
