.page {
    height: calc(100vh - 90px);

    background: top left no-repeat url(~@/assets/images/mainBackground.svg);
    background-size: cover;

    display: flex;
    flex-direction: column;
}

.tabs {
    padding: 20px 105px 0;
}

.body {
    flex-grow: 1;
    height: 0;

    margin-top: 40px;

    padding: 0 40px 36px 55px;

    display: grid;
    grid-template-columns: 380px 1fr;
    grid-gap: 40px;
}

.side {
    background: rgba(255, 255, 255, 0.2);
    border: 0.5px solid rgba(249, 249, 249, 0.6);
    box-sizing: border-box;
    box-shadow: inset -30px -30px 30px rgba(255, 255, 255, 0.1);
    border-radius: 10px;

    display: flex;
    flex-direction: column;
}

.controls {
    background: rgba(255, 255, 255, 0.6);
    border-radius: 10px 10px 0px 0px;
    padding: 30px 20px;

    display: flex;
    flex-direction: column;
}

.control {
    width: 100%;
    align-self: normal;
    &:not(:first-child) {
        margin-top: 30px;
    }
}

.content {
    background: rgba(255, 255, 255, 0.2);
    border: 0.5px solid rgba(249, 249, 249, 0.6);
    box-sizing: border-box;
    box-shadow: inset -30px -30px 30px rgba(255, 255, 255, 0.1);
    border-radius: 10px;

    overflow-y: auto;

    display: flex;
    flex-direction: column;
}

.view {
    flex-grow: 1;
}

.menu {
    padding-top: 14px;

    flex-grow: 1;
    height: 0;

    overflow-y: auto;
}

.link {
    height: 50px;
    padding: 0 0 0 60px;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.02em;
    color: #4F4F4F;

    position: relative;

    text-decoration: none;

    display: flex;
    align-items: center;

    &.disabled {
        opacity: .4;
    }

    &.active {
        background: rgba(56, 158, 224, 0.16);
        font-weight: 600;
        color: #495CFF;

        &:before {
            content: '';
            display: block;
            height: 10px;
            width: 10px;
            position: absolute;
            left: 35px;
            top: 50%;
            transform: translateY(-50%);
            background: #495CFF;
            box-shadow: 0 15px 15px rgba(0, 0, 0, 0.15);
            border-radius: 3px;
        }
    }
}
