.page {
  padding-right: 160px;
}

.title {
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
  letter-spacing: 0.04em;
  color: #333333;
  white-space: pre-line;
}

.steps {
  margin-top: 60px;
}

.step {
  display: grid;
  grid-template-columns: 270px 1fr;
  grid-gap: 60px;

  &:not(:first-child) {
    margin-top: 60px;
  }
}

.label {
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #21317A;
}

.value {
  font-size: 14px;
  line-height: 19px;
  letter-spacing: 0.03em;
  color: #333333;

  white-space: pre-line;
}

.examples {
  margin-top: 20px;
}
