.wrapper {

}

.field {
  border-radius: 10px;
  overflow: hidden;

  position: relative;

  &:after {
    content: '';
    display: block;
    padding-bottom: 100%;
  }
}

.preview {
  background: #E0E0E0 no-repeat center;
  background-size: contain;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  display: flex;
  align-items: center;
  justify-content: center;
}

.previewIcon {
  height: 50%;
  width: 50%;
  opacity: .6;
}

.placeholder {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  background: #E0E0E0;

  cursor: pointer;

  &:hover {
    background: #828282;
    box-shadow: 0px 15px 15px rgba(0, 0, 0, 0.15);
    color: #FFFFFF;
  }
}

.placeholderIcon {
  height: 30px;
  width: 30px;
  color: #21317A;
}

.controls {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  display: grid;
  grid-template-areas: (
    'edit download'
    'remove rename'
  );
  grid-gap: 4px;
  padding: 16px;
  align-content: space-between;
  justify-content: space-between;


  &:hover {
    background: rgba(white, .4);
  }
}

.edit {
  grid-area: edit;
  color: #5080CD;
}

.remove {
  grid-area: remove;
  color: #FF7D7D;
}

.download {
  grid-area: download;
  color: #009688
}

.rename {
  grid-area: rename;
  color: #5080CD;
}

.edit,
.remove,
.download,
.rename {
  height: 16px;
  width: 16px;

  cursor: pointer;

  position: relative;

  &:before {
    content: '';
    display: block;
    position: absolute;
    top: -4px;
    right: -4px;
    left: -4px;
    bottom: -4px;

    background: white;
    border-radius: 6px;

    box-shadow: 0 2px 10px rgba(black, .1);
  }

  > * {
    position: relative;
  }

  &:hover {
    transform: scale(1.2);
  }
}

.name {
  margin-top: 10px;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.04em;
  color: #333333;

  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.nameField{
  margin-top: 10px;
}
