.admin {
    &__license {
            &-public-info {
                    &__data {
                        display: flex;
                        flex-direction: row;
                        justify-content: flex-start;
                        padding: 0.5em;
                        div {
                            margin-right: 0.5em;
                        }
                        &-title {
                            font-weight: bold;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                        }
                        &-value {
                            &.edited {
                                input {
                                    background: lightgray;
                                    border-bottom: 1px solid lightslategray;
                                    padding: 0.5em 0;
                                    min-width: 200px;
                                }
                            }
                            input {
                                border: none;
                                background-color: transparent;
                            }
                            span {
                                text-decoration: underline;
                                cursor: pointer;
                            }
                        }
                        &-btn {
                            background-color: #0277bd;
                            border-radius: .4rem;
                            padding: 0.5em;
                            color: rgb(245, 235, 235);
                            cursor: pointer;

                            &.delete {
                                background-color: #e53935;
                            }
                        }
                    }
                }
            &-list {
                list-style: none;
                background-color: rgba(255, 255, 255, 0.37);
                border-radius:.4rem;
                padding: 0.5em;
                margin: 1em; 
                li {
                    padding: 0.5em;
                    transition: all .4s ease-in-out;
                    border-radius:.4rem;
                    user-select: none;
                    cursor: pointer;
                }
                li:hover {
                    background-color: rgba(255, 255, 255, 0.664);
                }
            }
        }
    &__wrapper {
        &-license {
            display: grid;
            grid-template-columns: 1fr 4fr;
            grid-column-gap: 5px;
            background-color: #5163bf6e;
            border-radius: .4rem;
            &-workspace {
                background-color: rgba(255, 255, 255, 0.37);
                border-radius:.4rem;
                padding: 0.5em;
                margin: 1em; 
            }
        }
    }
}